<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">TABLAS MAESTRAS</li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ titulo }}
    </li>
  </ol>
</nav>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-2 border border-white bg-light">
      <div class="row m-1">
        <div class="col-sd-12">
          <div class="form-group">
            <label>Acciones</label><br />
            <button
              class="btn btn-primary btn-rounded mt-1"
              ngbTooltip="Agregar"
              (click)="modalFormOpen(modalForm)"
            >
              <global-font-awesome-v4
                name="plus-circle"
              ></global-font-awesome-v4>
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-8 p-1">
          <div class="form-group">
            <label>Exportar a:</label>
            <select
              class="form-control form-control-sm"
              [(ngModel)]="typeReport"
            >
              <option value="PDF">PDF</option>
              <option value="EXCEL">EXCEL</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 p-1">
          <br />
          <button
            ngbTooltip="Generar reporte"
            class="btn btn-primary btn-rounded btn-sm mt-1"
            (click)="downloadReport()"
          >
            <global-font-awesome-v4 name="download"></global-font-awesome-v4>
            Descargar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">{{ titulo }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card o-hidden py-2">
  <div class="col-12 table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="head-tablas">
          <th *ngFor="let titulo of encabezados">{{ titulo }}</th>
        </tr>
        <tr>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Id...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.id"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Nombre...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.nombre"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Abreviación...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.abreviacion"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Url...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.url"
                matInput
              />
            </mat-form-field>
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <ng-container *ngIf="listado as result">
          <tr
            *ngFor="
              let registro of result
                | paginate
                  : {
                      id: 'pagEnlaces',
                      itemsPerPage: iPageSize,
                      currentPage: p
                    }
            "
          >
            <td class="text-center">
              <span
                [innerHTML]="registro.id.toString() | resaltar: campoFiltro.id"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="registro.nombre | resaltar: campoFiltro.nombre"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.abreviacion | resaltar: campoFiltro.abreviacion
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="registro.enlace_url | resaltar: campoFiltro.url"
              ></span>
            </td>
            <td class="text-center">
              <i
                [ngClass]="'i-' + registro.icono"
                style="font-size: 1.5rem"
              ></i>
            </td>
            <td class="text-right">
              <button
                class="btn btn-outline-success"
                ngbTooltip="Editar"
                (click)="editar(modalForm, [registro])"
              >
                <global-font-awesome-v4
                  name="pencil-square-o"
                ></global-font-awesome-v4>
              </button>
              <button
                class="btn btn-outline-danger"
                ngbTooltip="Eliminar"
                (click)="eliminar([registro])"
              >
                <global-font-awesome-v4 name="trash-o"></global-font-awesome-v4>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <br />
  <pagination-controls
    id="pagEnlaces"
    (pageChange)="p = $event"
    previousLabel="Atras"
    nextLabel="Siguiente"
  ></pagination-controls>
</div>

<ng-template #modalForm let-modal>
  <div class="card text-center">
    <div class="card-header">
      {{ tituloForm }}
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="guardar()">
      <div class="card-body">
        <fieldset>
          <div class="row">
            <div class="col-12">
              <span>Los campos marcados con (*) son Obligatorios!</span>

              <input type="text" formControlName="id" hidden />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Nombre:</mat-label>
                <input matInput formControlName="nombre" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Abreviacion:</mat-label>
                <input matInput formControlName="abreviacion" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Icono:</mat-label>
                <mat-select required formControlName="icono">
                  <mat-option *ngFor="let icono of icons" [value]="icono">
                    {{ icono }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
              <div class="text-center d-flex justify-content-center">
                <i
                  [ngClass]="'i-' + formulario.value.icono"
                  style="font-size: 3rem"
                ></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>URL:</mat-label>
                <input matInput formControlName="url" required />
              </mat-form-field>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-md-4 offset-md-6">
            <button
              class="btn btn-outline-primary"
              type="submit"
              [disabled]="!formulario.valid"
              mat-raised-button
              color="primary"
            >
              <global-font-awesome-v4 name="save"></global-font-awesome-v4>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
