<!-- Button trigger modal -->
<div class="card text-center">
  <div class="card-header">
    {{ dialogTitle }}
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="eventForm" [formGroup]="eventForm" class="event-form p-3">
    <input hidden formControlName="_id" />
    <mat-horizontal-stepper [linear]="true" #stepper>
      <div class="card-body">
        <mat-step>
          <ng-template matStepLabel>Características</ng-template>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Título:</mat-label>
                <input matInput formControlName="title" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Expediente:</mat-label>
                <input matInput formControlName="expediente_nombre" required />
              </mat-form-field>
              <input type="text" formControlName="expediente_id" hidden />
            </div>
            <div class="col-2">
              <button
                mat-fab
                matTooltip="Buscar Expediente"
                class="btn btn-primary"
                color="primary"
                type="button"
                (click)="modalForm(modalExpedientes)"
              >
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>
          <!-- <div class="row" formGroupName="color">
            <div class="col-md-6 form-group">
              <input
                class="form-control form-control-rounded"
                name="title"
                formControlName="primary"
                placeholder="Title"
                placeholder="Primary color"
                [(colorPicker)]="event?.color.primary"
                [style.background]="event?.color.primary"
                (colorPickerChange)="
                  eventForm.patchValue({
                    color: { primary: event?.color.primary }
                  })
                "
              />
            </div>
            <div class="col-md-6 form-group">
              <input
                class="form-control form-control-rounded"
                name="secondaryColor"
                formControlName="secondary"
                placeholder="Secondary color"
                [(colorPicker)]="event?.color.secondary"
                [style.background]="event?.color.secondary"
                (colorPickerChange)="
                  eventForm.patchValue({
                    color: { secondary: event?.color.secondary }
                  })
                "
              />
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Fecha de Audiencia:</mat-label>
                <input
                  matInput
                  type="datetime-local"
                  required
                  formControlName="start"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Fecha de Recepción de esquela:</mat-label>
                <input
                  matInput
                  type="date"
                  required
                  formControlName="recepcion"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Acto:</mat-label>
                <mat-select required formControlName="acto_id">
                  <mat-option *ngFor="let acto of actos" [value]="acto.id">
                    {{ acto.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Tipo de Citación:</mat-label>
                <mat-select required formControlName="tipo_id">
                  <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
                    {{ tipo.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>¿Quién asiste?:</mat-label>
                <mat-select required formControlName="persona_asesoria_id">
                  <mat-option
                    *ngFor="let persona of personas"
                    [value]="persona.id"
                  >
                    <!-- {{ persona.nombre_tipo_persona }} | -->
                    {{ persona.nombre_persona }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <button
              type="button"
              class="col-3 ml-auto"
              mat-raised-button
              color="primary"
              matStepperNext
            >
              Siguiente
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Detalles</ng-template>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Sumilla:</mat-label>
                <textarea
                  matInput
                  formControlName="citacion_sumilla"
                  required
                  cols="30"
                  rows="6"
                >
                </textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Referencia:</mat-label>
                <textarea
                  matInput
                  formControlName="citacion_referencia"
                  cols="30"
                  rows="2"
                >
                </textarea>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Lugar de Audiencia:</mat-label>
                <input matInput formControlName="citacion_lugar" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Resolución:</mat-label>
                <input matInput formControlName="citacion_resolucion" />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Fecha de Resolución:</mat-label>
                <input
                  matInput
                  formControlName="resolucion_fecha"
                  type="date"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <button
              [disabled]="eventForm.invalid"
              class="btn btn-primary btn-rounded"
              mat-raised-button
              (click)="
                activeModal.close({ action: 'guardar', event: eventForm.value })
              "
              type="button"
            >
              Guardar Citación
            </button>
          </div>
        </mat-step>
      </div>
    </mat-horizontal-stepper>
  </form>
</div>

<ng-template #modalExpedientes let-c="close" let-d="dismiss" let-modal>
  <div class="card text-center">
    <div class="card-header">
      Buscar Expediente
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="formBuscarExpediente" (ngSubmit)="buscarExpediente()">
      <div class="row">
        <div class="col-10">
          <div class="form-group">
            <label>Buscar por:</label>
            <input
              type="text"
              [ngClass]="{
                'is-invalid': !formBuscarExpediente.get('buscar').valid
              }"
              class="form-control"
              placeholder="Nombre del Expediente"
              formControlName="buscar"
            />
          </div>
        </div>
        <div class="col-2">
          <btn-loading
            [disabled]="formBuscarExpediente.invalid"
            btnClass="btn-primary btn-rounded  btn-block mt-3"
            [loadingText]="msgBuscando"
            [loading]="loading"
          >
            <global-font-awesome-v4 name="search-plus"></global-font-awesome-v4>
            Buscar
          </btn-loading>
        </div>
      </div>
    </form>
    <br />
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="btn-primary">
          <th>NOMBRE</th>
          <th>NÚMERO</th>
          <th></th>
        </tr>
        <tr class="btn-primary">
          <th>
            <input
              type="text"
              (keyup)="filtrarExpediente()"
              class="form-control form-control-sm"
              placeholder="Filtro Id..."
              [(ngModel)]="campoFiltro.nombre"
            />
          </th>
          <th>
            <input
              type="text"
              (keyup)="filtrarExpediente()"
              class="form-control form-control-sm"
              placeholder="Filtro Nombre..."
              [(ngModel)]="campoFiltro.numero"
            />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <ng-container *ngIf="expedientesFiltrados as result">
          <tr
            *ngFor="
              let registro1 of result
                | paginate
                  : {
                      id: 'paginationExpediente',
                      itemsPerPage: iPageSize,
                      currentPage: pE
                    }
            "
          >
            <td class="text-center">
              <span
                [innerHTML]="registro1.nombre | resaltar: campoFiltro.nombre"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro1.numero.toString() | resaltar: campoFiltro.numero
                "
              ></span>
            </td>
            <td class="text-right">
              <button
                class="btn btn-outline-primary"
                ngbTooltip="Seleccionar"
                (click)="c([registro1])"
              >
                <global-font-awesome-v4
                  name="check-circle"
                ></global-font-awesome-v4>
                Seleccionar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <br />
    <pagination-controls
      id="paginationExpediente"
      (pageChange)="pE = $event; buscarExpediente()"
      previousLabel="Atras"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</ng-template>
