<ngx-spinner
  bdColor="white"
  size="medium"
  color="rgba(41,63,128,1)"
  type="square-jelly-box"
  [fullScreen]="false"
  ><p style="color: rgba(41, 63, 128, 1)">Cargando...</p></ngx-spinner
>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/consultasexternas">CONSULTAS SIGEUN</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">BIBLIOTECA</li>
  </ol>
</nav>
<div class="card col-12 p-2 mb-2">
  <div class="col-12 mb-1 head-tablas">
    <h1 class="titulo text-center">BIBLIOTECA</h1>
  </div>
  <form [formGroup]="formBusquedaBiblio" (ngSubmit)="buscarSancionados()">
    <div class="row">
      <div class="col-2">
        <mat-form-field class="w-100" color="primary" appearance="outline">
          <mat-label>Local:</mat-label>
          <mat-select formControlName="local">
            <mat-option
              *ngFor="let local of listaLocales"
              [value]="local.iLocalId"
            >
              {{ local.cDescriLocal }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-auto d-flex align-items-center">
        <button
          color="primary"
          class="w-100"
          mat-raised-button
          [disabled]="!this.formBusquedaBiblio.valid"
          type="submit"
        >
          Consulta de Sancionados
          <global-font-awesome-v4 name="search-plus"></global-font-awesome-v4>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="card col-12 p-2">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="head-tablas">
          <th>DNI</th>
          <th>USUARIO</th>
          <th>TIPO USUARIO</th>
          <th>SANCIÓN</th>
          <th>FECHA SANCIÓN</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="listaSancionados as registros">
          <tr *ngFor="let item of registros">
            <td><span [innerHTML]="item.DNI"></span></td>
            <td><span [innerHTML]="item.Usuario"></span></td>
            <td><span [innerHTML]="item.Tipo_Usuario"></span></td>
            <td><span [innerHTML]="item.Motivo_Sancion"></span></td>
            <td><span [innerHTML]="item.Fecha_Sancion"></span></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
