<ngb-tabset type="pills">
    <ngb-tab>
        <ng-template ngbTabTitle>Registro de Ingresos Consolidados</ng-template>
        <ng-template ngbTabContent>
            <app-registro-ic></app-registro-ic>
        </ng-template>
    </ngb-tab>  
    <!-- <ngb-tab>
        <ng-template ngbTabTitle>Tipos de chequeras</ng-template>
        <ng-template ngbTabContent>
            <app-tipos-chequeras></app-tipos-chequeras>
        </ng-template>
    </ngb-tab> -->
</ngb-tabset>