<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
<li class="breadcrumb-item" aria-current="page">ASESORÍA</li>
    <li class="breadcrumb-item active" aria-current="page">
      ENLACES EXTERNOS
    </li>
  </ol>
</nav>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-icon-bg card-icon-bg-primary mb-4">
          <h1 class="text-center">ENLACES EXTERNOS</h1>
        </div>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="module-loader" *ngIf="loading">
        <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
      </div>
      <div
        *ngFor="let enlace of listadoEnlaces"
        class="col-lg-6 col-md-6 col-sm-6"
      >
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [attr.href]="enlace.enlace_url"
            target="_blank"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-{{ enlace.icono }}"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">
                  {{ enlace.nombre }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
