.ck-editor__editable {
    min-height: 210px !important;
}
.bg-1{
    background: #0d47a1;
    color: white;
}
.bg-2{
    background: #0c8590;
    color:white
}
.bg-3{
    background: #283593;
    color:white
}
.bg-4{
    background: #4caf50;
    color:white
}
.text-1{
    color: #0d47a1;
}
.text-2{
    color: #0c8590;
}
.text-3{
    color: #283593;
}
.text-4{
    color: #4caf50;
}
.border-dashed{
    border-style: dashed;
    border-color: #31353D;
}
.numCircle{
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;
    top: -12px;
    left: -12px;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    background: #101230;
}
.iconImage{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
    padding-left:5px;
    background:#062A78;
}
a{
    font-weight: 700;
    cursor: pointer !important;
}
.pointer{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}
.font2{
    font-family: 'Ubuntu', sans-serif;
}
.x1 {
    font-size: 1rem;
}
.x11 {
    font-size: 1.1rem;
}
.x12 {
    font-size: 1.2rem;
}
.x15 {
    font-size: 1.5rem;
}
.x2 {
    font-size: 2rem;
}
.x3 {
    font-size: 3rem;
}

.x4 {
    font-size: 4rem;
}