<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">ASESORÍA</li>
    <li class="breadcrumb-item active" aria-current="page">CITACIONES</li>
  </ol>
</nav>
<div class="col-md-12 mb-4">
  <div class="row">
    <div class="col-md-3 border border-white bg-light">
      <div class="row m-1">
        <div class="col-sd-12">
          <div class="form-group">
            <label>Acciones</label>
            <div class="row">
              <!-- addENotificacion -->
              <div class="col-6">
                <button
                  class="btn btn-primary btn-rounded mt-1"
                  ngbTooltip="Agregar"
                  (click)="addEvent()"
                >
                  <global-font-awesome-v4
                    name="plus-circle"
                  ></global-font-awesome-v4>
                  Agregar Citación
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button
                  class="btn btn-primary btn-rounded mt-1"
                  ngbTooltip="Agregar"
                  (click)="addENotificacion()"
                >
                  <global-font-awesome-v4
                    name="plus-circle"
                  ></global-font-awesome-v4>
                  Agregar Tarea
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-sd-12">
          <div class="d-flex flex-column align-items-center">
            <label>Generar PDF:</label>
            <button
              class="btn btn-primary btn-rounded mt-1"
              (click)="downloadReport()"
            >
              <global-font-awesome-v4 name="download"></global-font-awesome-v4>
              Descargar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">{{ titulo }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-2">
  <div class="col-12 my-2">
    <button
      (click)="mostrarMisCitaciones(misCitaciones)"
      mat-raised-button
      class="mr-2"
      color="primary"
    >
      <global-font-awesome-v4 name="list-ol"></global-font-awesome-v4>
      Mis Citaciones
    </button>
    <button
      (click)="mostrarMisCitaciones(misPendientes)"
      mat-raised-button
      color="primary"
    >
      <global-font-awesome-v4 name="list-ol"></global-font-awesome-v4>
      Mis Tareas
    </button>
  </div>
  <div class="">
    <div
      class="p-3 d-flex justify-content-between align-items-center calendar-title"
    >
      <!-- Arrow navigations -->
      <div class="cal-top-col text-center">
        <button
          class="btn btn-rounded btn-icon btn-outline-primary m-1"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (click)="cambioFecha()"
        >
          <i class="i-Arrow-Left"></i>
        </button>
        <button
          class="btn btn-rounded btn-icon btn-primary m-1"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          <i class="i-Calendar-2"></i>
        </button>
        <button
          class="btn btn-rounded btn-icon btn-outline-primary m-1"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (click)="cambioFecha()"
        >
          <i class="i-Arrow-Right"></i>
        </button>
      </div>

      <!-- Date title -->
      <div class="text-center">
        <h5 class="m-0 text-muted font-weight-bold text-uppercase">
          {{ viewDate | calendarDate: view + "ViewTitle":"es" }}
        </h5>
      </div>

      <!-- Month, day, week view toggle buttons -->
      <div class="d-flex justify-content-center">
        <button
          class="btn btn-rounded btn-icon btn-primary m-1"
          (click)="view = 'month'; cambioFecha()"
          [class.active]="view === 'month'"
          ngbTooltip="Vista Mensual"
        >
          <i class="i-Calendar"></i>
        </button>
        <button
          class="btn btn-rounded btn-icon btn-primary m-1"
          (click)="view = 'week'; cambioFecha()"
          [class.active]="view === 'week'"
          ngbTooltip="Vista Semanal"
        >
          <i class="i-Split-Vertical-2"></i>
        </button>
        <button
          class="btn btn-rounded btn-icon btn-primary m-1"
          (click)="view = 'day'; cambioFecha()"
          [class.active]="view === 'day'"
          ngbTooltip="Vista Día"
        >
          <i class="i-Align-Justify-All"></i>
        </button>
      </div>
    </div>
    <!-- <mat-divider></mat-divider> -->
  </div>

  <!-- Calendar -->
  <div class="p-0">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events.concat(pendientes)"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events.concat(pendientes)"
        [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events.concat(pendientes)"
        [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>

<ng-template #eventDeleteConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">¿Eliminar Citación?</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-rounded btn-outline-secondary"
      (click)="modal.dismiss('cancel')"
    >
      No
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-rounded btn-danger"
      (click)="modal.close('Ok')"
    >
      Si
    </button>
  </div>
</ng-template>
<ng-template let-modal #misCitaciones let-d="dismiss">
  <app-mis-notificaciones
    [citaciones]="events"
    (salida)="d();loadEvents();loadPendientes()"
  ></app-mis-notificaciones>
</ng-template>

<ng-template let-modal #misPendientes let-d="dismiss">
  <app-mis-pendientes
    [citaciones]="pendientes"
    (salida)="d();loadEvents();loadPendientes()"
  ></app-mis-pendientes>
</ng-template>
