[role="tab"] {
    .btn {
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: left;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}

.accordion {
    &> .card {
        overflow: hidden;
    }
}