.nav-tabs {
    border: 0;
    border-radius: 6px;
    .nav-item {
        .nav-link {
            border: 0;
            padding: 1.5rem;
            border-bottom: 1px solid #404f8a29;
            transition: all 0.7s;
            &:not(.disabled) {
                color: inherit;
            }
            &.active {
                border-bottom: 4px solid $primary;
                border-bottom-left-radius: 5%;
                border-bottom-right-radius: 5%;
                color: $primary;
                font-weight: 700;
                // background: rgba($color: $primary, $alpha: .1);
            }
        }
    }
}

.tab-content {
    padding: 1rem;
}
ngb-tabset {
    &.nav-center {
        .nav-tabs {
            justify-content: center !important;
            margin-bottom: 1.5rem;
        }
    }
}

ngb-tabset.p-0 {
    .tab-content {
        padding: 1rem 0;
    }
}

.tab-1 ngb-tabset .nav-tabs {
    .nav-item {
        .nav-link {
            &.active {
                border-bottom: 5px solid #0d47a1;
                color: #0d47a1;
 
            }
        }
    }
}
.tab-2 ngb-tabset .nav-tabs {
    .nav-item {
        .nav-link {
            &.active {
                border-bottom: 5px solid #009688;
                color: #009688;
 
            }
        }
    }
}
.tab-3 ngb-tabset .nav-tabs {
    .nav-item {
        .nav-link {
            &.active {
                border-bottom: 5px solid #283593;
                color: #283593;
 
            }
        }
    }
}
.tab-4 ngb-tabset .nav-tabs {
    .nav-item {
        .nav-link {
            &.active {
                border-bottom: 5px solid #4caf50;
                color: #4caf50;
 
            }
        }
    }
}