<ngx-spinner
  bdColor="white"
  size="medium"
  color="rgba(41,63,128,1)"
  type="square-jelly-box"
  [fullScreen]="false"
  name="tramite"
  ><p style="color: rgba(41, 63, 128, 1)">Cargando...</p></ngx-spinner
>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/consultasexternas">CONSULTAS SIGEUN</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      TRÁMITE DOCUMENTARIO
    </li>
  </ol>
</nav>
<div class="card col-12 p-2 mb-2">
  <div class="col-12 mb-1 head-tablas">
    <h1 class="titulo text-center">TRÁMITE DOCUMENTARIO</h1>
  </div>
  <form [formGroup]="formBusquedaTramites" (ngSubmit)="buscarTramites()">
    <div class="row">
      <div class="col-6">
        <input type="text" hidden formControlName="dependencia" />
        <mat-form-field class="w-100" color="primary" appearance="outline">
          <mat-label>Dependencia:</mat-label>
          <input
            type="text"
            matInput
            required
            [formControl]="dependencia"
            [matAutocomplete]="depen"
          />
          <mat-autocomplete
            #depen="matAutocomplete"
            (optionSelected)="seleccionarDependencia($event)"
            [displayWith]="displayFn"
          >
            <mat-option
              *ngFor="let depen of listadoDependenciasFiltrado | async"
              [value]="depen"
            >
              {{ depen.cDepenNombre }}
            </mat-option>
          </mat-autocomplete>
          <mat-error>Elija una oficina...</mat-error>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="w-100" color="primary" appearance="outline">
          <mat-label>Año:</mat-label>
          <mat-select formControlName="anio">
            <mat-option [value]="null">NINGUNO</mat-option>
            <mat-option *ngFor="let anio of listaanios" [value]="anio">
              {{ anio }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="w-100" color="primary" appearance="outline">
          <mat-label>Criterio:</mat-label>
          <mat-select formControlName="criterio">
            <mat-option [value]="null">NINGUNO</mat-option>
            <mat-option
              *ngFor="let criterio of listaCriterios"
              [value]="criterio.iCritId"
            >
              {{ criterio.cCritDescripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="w-100" color="primary" appearance="outline">
          <mat-label>Valor:</mat-label>
          <input
            type="text"
            class="text-dark"
            matInput
            formControlName="valor"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          color="primary"
          class="w-100"
          mat-raised-button
          [disabled]="!this.formBusquedaTramites.valid"
          type="submit"
        >
          Consulta de Trámites
          <global-font-awesome-v4 name="search-plus"></global-font-awesome-v4>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="card col-12 o-hidden py-2">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Número...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                matInput
                [(ngModel)]="campoFiltro.numero"
              />
            </mat-form-field>
          </th>
          <th>
            <!-- <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Filtro Nombre..."
                  /> -->
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Emisor...</mat-label>
              <input
                (keyup)="filtrar()"
                [(ngModel)]="campoFiltro.emisor"
                type="text"
                class="text-dark"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <!-- <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Filtro Nombre..."
                  /> -->
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Documento...</mat-label>
              <input
                (keyup)="filtrar()"
                [(ngModel)]="campoFiltro.documento"
                type="text"
                class="text-dark"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Asunto...</mat-label>
              <input
                [(ngModel)]="campoFiltro.asunto"
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Tipo Documento...</mat-label>
              <input
                [(ngModel)]="campoFiltro.tipo_documento"
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                matInput
              />
            </mat-form-field>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <ng-container *ngIf="listadoTramites as result">
          <tr
            *ngFor="
              let registro of result
                | paginate
                  : {
                      id: 'pagTramites',
                      itemsPerPage: iPageSize,
                      currentPage: p
                    };
              let i = index
            "
          >
            <td class="text-center">
              <span
                class="text-bold"
                [innerHTML]="i + 1 + (p - 1) * iPageSize"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  'N°' + registro.cTramNumeroDocumento
                    | resaltar: campoFiltro.numero
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.cNombre_PersFirmaEmisor
                    | resaltar: campoFiltro.emisor
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.cTramDocumentoTramite
                    | resaltar: campoFiltro.documento
                "
              ></span>
            </td>

            <td class="text-center">
              <span
                [innerHTML]="
                  registro.cTramAsuntoDocumento | resaltar: campoFiltro.asunto
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.cTipoDocDescripcion
                    | resaltar: campoFiltro.tipo_documento
                "
              ></span>
            </td>
            <td class="text-center">
              <button
                *ngIf="tipo === 1"
                mat-raised-button
                color="primary"
                matTooltip="Mostrar Seguimiento"
                (click)="seguimiento(registro, seguir)"
              >
                <mat-icon>timeline</mat-icon>
              </button>
              <button
                *ngIf="tipo === 2"
                mat-raised-button
                color="primary"
                matTooltip="ELEGIR REGISTRO"
                (click)="seleccionarSalida(registro)"
              >
                <mat-icon>verified</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <br />
  <pagination-controls
    id="pagTramites"
    (pageChange)="p = $event"
    previousLabel="Atras"
    nextLabel="Siguiente"
  ></pagination-controls>
  <!-- </div> -->
</div>

<ng-template let-modal #seguir>
  <div class="card o-hidden text-center">
    <div class="card-header">
      SEGUIMIENTO
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div class="col-auto ml-auto">
          <button
            mat-raised-button
            color="primary"
            matTooltip="IMPRIMIR"
            (click)="imprimirSeguimiento()"
          >
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered w-100">
          <thead class="thead-dark">
            <tr class="head-tablas">
              <th>#</th>
              <th>FECHA Y HORA</th>
              <th>DEPENDENCIA</th>
              <th>DOCUMENTO</th>
              <th>ASUNTO</th>
              <th>ESTADO</th>
              <th>TIEMPO TRANSCURRIDO</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="seguimientos as result">
              <tr
                *ngFor="
                  let item of result
                    | paginate
                      : {
                          id: 'pagSeguimiento',
                          itemsPerPage: iPageSize,
                          currentPage: pS
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <span [innerHTML]="i + 1 + (pS - 1) * iPageSize"></span>
                </td>
                <td class="text-center">
                  <span>Env.:</span><br />
                  <span
                    [innerHTML]="item.dtTramMovFechaHoraEnvio | date: 'M/d/yy'"
                  ></span>
                  <br />
                  <span
                    [innerHTML]="item.dtTramMovFechaHoraEnvio | date: 'h:mm a'"
                  ></span>
                  <br />
                  <br />
                  <span>Rec.:</span> <br />
                  <span
                    [innerHTML]="
                      item.dtTramMovFechaHoraRecibido | date: 'M/d/yy'
                    "
                  ></span>
                  <br />
                  <span
                    [innerHTML]="
                      item.dtTramMovFechaHoraRecibido | date: 'h:mm a'
                    "
                  ></span>
                </td>
                <td class="text-center">
                  <span
                    [innerHTML]="'Emisor: ' + item.cDepenEmisorNombre"
                  ></span>
                  <br />
                  <br />
                  <span
                    [innerHTML]="'Receptor: ' + item.cDepenReceptorNombre"
                  ></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.cTramDocumentoTramite"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.cTramAsunto"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.cEstadoTramiteNombre"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.duracion"></span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <pagination-controls
        id="pagSeguimiento"
        (pageChange)="pS = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>
