<ngx-spinner
  bdColor="white"
  size="medium"
  color="rgba(41,63,128,1)"
  type="square-jelly-box"
  [fullScreen]="false"
  ><p style="color: rgba(41, 63, 128, 1)">Cargando...</p></ngx-spinner
>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/consultasexternas">CONSULTAS SIGEUN</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">PRESUPUESTO</li>
  </ol>
</nav>
<div class="card col-12 p-2 mb-2">
  <div class="col-12 mb-1 head-tablas">
    <h1 class="titulo text-center">PRESUPUESTO</h1>
  </div>
  <form [formGroup]="formBusquedaBiblio" (ngSubmit)="buscarPresupuesto()">
    <div class="row">
      <div class="col-2">
        <mat-form-field class="w-100" color="primary" appearance="outline">
          <mat-label>Año:</mat-label>
          <mat-select formControlName="anio">
            <mat-option [value]="null">NINGUNO</mat-option>
            <mat-option *ngFor="let anio of listaanios" [value]="anio">
              {{ anio }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-auto d-flex align-items-center">
        <button
          color="primary"
          class="w-100"
          mat-raised-button
          [disabled]="!this.formBusquedaBiblio.valid"
          type="submit"
        >
          Consulta de Centros de Costos
          <global-font-awesome-v4 name="search-plus"></global-font-awesome-v4>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="card col-12 p-2">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="head-tablas">
          <th>CENTRO DE COSTO</th>
          <th>SEC. FUNC.</th>
          <th>DEPENDENCIA</th>
          <th>META NOMBRE</th>
          <th>USUARIO</th>
          <th>CANTIDAD</th>
        </tr>
        <tr>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Centro de Costo...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.cc"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Secuencia Funcional...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.sf"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Dependencia...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.dep"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Meta...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.mn"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Usuario...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.usu"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro cantidad...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.cant"
                matInput
              />
            </mat-form-field>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="listaSancionados as registros">
          <tr
            *ngFor="
              let item of registros
                | paginate
                  : {
                      id: 'pagpresu',
                      itemsPerPage: iPageSize,
                      currentPage: p
                    };
              let i = index
            "
          >
            <td>
              <span
                [innerHTML]="item.cen_costo | resaltar: campoFiltro.cc"
              ></span>
            </td>
            <td>
              <span
                [innerHTML]="item.sec_func | resaltar: campoFiltro.sf"
              ></span>
            </td>
            <td>
              <span
                [innerHTML]="item.dependencia | resaltar: campoFiltro.dep"
              ></span>
            </td>
            <td>
              <span
                [innerHTML]="item.meta_nom | resaltar: campoFiltro.mn"
              ></span>
            </td>
            <td>
              <span
                [innerHTML]="item.persona | resaltar: campoFiltro.usu"
              ></span>
            </td>
            <td>
              <span
                [innerHTML]="item.cantidad | resaltar: campoFiltro.cant"
              ></span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <pagination-controls
    id="pagpresu"
    (pageChange)="p = $event"
    previousLabel="Atras"
    nextLabel="Siguiente"
  ></pagination-controls>
</div>
