.custom{
    display: block;
    position: absolute;
    max-width: 350px;
    width: 95%;
    margin:10px;
    margin-left:15%;
    left: 20px;
    top: 25%;
}
.titleMod{
    font-size: 16px;
    font-weight: bold;
    color:#2b2e4a
}