<div class="card custom" [@animate]="{value:'*',params:{y:'200px',opacity:'0',delay:'800ms', duration: '800ms'}}">
    <div class="row">
      <div class="col-md-12">
        <div class="p-4">
          <div class="auth-logo text-center mb-3">
            <img src="assets/images/logo.png" alt="" width="50"><br>
           <p class="text-center bold"><b>{{nombreInstitucion}}</b></p>
          </div>
          <!-- <img src="assets/images/login.png" alt="" class="img-fluid"><br> -->
          <p class="titleMod text-center mt-4 mb-4">{{nombreModulo}}</p>
          <form [formGroup]="signinForm" (ngSubmit)="signin()"> 
            <div class="form-group">
              <label for="email" class="ml-2">Usuario</label>
              <input id="email" class="form-control form-control-rounded" formControlName="usuario" type="text" placeholder="Ingrese su DNI">
            </div>
            <div class="form-group">
              <label for="clave" class="ml-2">Clave</label>
              <div class="input-group">
                <input [type]="show ? 'password' : 'text'"  class="form-control form-control-rounded" placeholder="********" formControlName="password" >
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2" *ngIf="show" (click)="show = false" style="border-radius: 0px 20px 20px 0px;">
                    <img src="./assets/images/iconos/eye2.svg" width="15" alt="">
                  </span>
                  <span class="input-group-text" id="basic-addon2" *ngIf="!show" (click)="show = true" style="border-radius: 0px 20px 20px 0px;">
                    <img src="./assets/images/iconos/eye.svg" width="15" alt="">
                  </span>
                </div>
              </div>
            </div>
            <btn-loading btnClass="btn-primary btn-rounded btn-block mt-3" [loadingText]="loadingText" [loading]="loading">
              Ingresar
            </btn-loading>
          </form>
        </div>
      </div>
    </div>
  </div>