<div
  class="auth-layout-wrap"
  style="
    background-image: url('./assets/images/fondo.jpg');
    background-position: center;
    background-size: cover;
  "
>
  <div class="auth-content">
    <router-outlet></router-outlet>
  </div>
</div>
