<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">ASESORÍA</li>
    <li class="breadcrumb-item active" aria-current="page">CONSULTAS SIGEUN</li>
  </ol>
</nav>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-icon-bg card-icon-bg-primary mb-4">
          <h1 class="text-center">CONSULTAS MÓDULOS SIGEUN</h1>
        </div>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/consultasexternas/tramite']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Inbox-Into"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Trámite Documentario
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/consultasexternas/rhh']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Conference"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">Recursos Humanos</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            href="http://sigeun.unam.edu.pe/modulos/modtesoreria"
            target="_blank"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Cash-register-2"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">CAJA</p> -->
                <p class="lead text-primary text-24 mb-2">Economia Finanzas</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/consultasexternas/presupuesto']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Bitcoin"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">Presupuesto</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            href="http://sigeun.unam.edu.pe/modulos/modpatrimonio"
            target="_blank"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Car-2"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">Patrimonio</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/consultasexternas/biblioteca']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Book"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">Biblioteca</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!--
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a href="#" class="list-group-item list-group-item-action">
            <div class="card-body text-center">
              <i class="i-Bar-Chart"></i>
              <div class="content">
                <p class="text-muted mt-2 mb-0">Generación</p>
                <p class="lead text-primary text-24 mb-2">Reportes</p>
              </div>
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>
