<ngx-spinner
  bdColor="white"
  size="medium"
  color="rgba(41,63,128,1)"
  type="square-jelly-box"
  [fullScreen]="false"
  ><p style="color: rgba(41, 63, 128, 1)">Cargando...</p></ngx-spinner
>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/consultasexternas">CONSULTAS SIGEUN</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">RECURSOS HUMANOS</li>
  </ol>
</nav>
<div class="card col-12 p-2 mb-2">
  <div class="col-12 mb-1 head-tablas">
    <h1 class="titulo text-center">RECURSOS HUMANOS</h1>
  </div>
  <form [formGroup]="formBusquedaBiblio" (ngSubmit)="buscarUsuarios()">
    <div class="row">
      <div class="col-2">
        <mat-form-field class="w-100" color="primary" appearance="outline">
          <mat-label>NOMBRE:</mat-label>
          <input type="text" formControlName="campo" matInput />
        </mat-form-field>
      </div>
      <div class="col-auto d-flex align-items-center">
        <button
          color="primary"
          class="w-100"
          mat-raised-button
          [disabled]="!this.formBusquedaBiblio.valid"
          type="submit"
        >
          Consultar Datos
          <global-font-awesome-v4 name="search-plus"></global-font-awesome-v4>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="card col-12 p-2">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="head-tablas">
          <th>#</th>
          <th>DOCUMENTO</th>
          <th>NOMBRE</th>
          <th>ACCIÓN</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="listaUsuarios as registros">
          <tr
            *ngFor="
              let item of registros
                | paginate
                  : {
                      id: 'pagRhh',
                      itemsPerPage: iPageSize,
                      currentPage: p,
                      totalItems: totalItems
                    };
              let i = index
            "
          >
            <td class="text-center">
              <span
                class="text-bold"
                [innerHTML]="i + 1 + (p - 1) * iPageSize"
              ></span>
            </td>
            <td><span [innerHTML]="item.cPersPrestadorDocumento"></span></td>
            <td><span [innerHTML]="item.cPersPrestadorNombre"></span></td>
            <td>
              <button
                mat-raised-button
                matTooltip="Detalles"
                color="warn"
                (click)="mostrarModal(seguir, item)"
              >
                <mat-icon>info</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <pagination-controls
    id="pagRhh"
    (pageChange)="buscarUsuarios($event)"
    previousLabel="Atras"
    nextLabel="Siguiente"
  ></pagination-controls>
</div>
<ng-template let-modal #seguir>
  <div class="card o-hidden text-center">
    <div class="card-header">
      DETALLES
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="col-12 d-flex">
        <div class="col-8">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>NOMBRE:</mat-label>
            <input
              type="text"
              readonly
              matInput
              [value]="usuarioActual.cPersPrestadorNombre"
            />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>DOCUMENTO:</mat-label>
            <input
              type="text"
              readonly
              matInput
              [value]="usuarioActual.cPersPrestadorDocumento"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr class="head-tablas">
                <th class="text-truncate">#</th>
                <th class="text-truncate">CARGO</th>
                <th class="text-truncate">CATEGORIA</th>
                <th class="text-truncate">DEPENDENCIA</th>
                <th class="text-truncate">PLAN</th>
                <th class="text-truncate">RÉGIMEN PENSIÓN</th>
                <th class="text-truncate">TAREA</th>
                <th class="text-truncate">TIPO PLANILLA</th>
                <th class="text-truncate">TIPO PRESTADOR</th>
                <th class="text-truncate">FECHA INICIO PLANILLA</th>
                <th class="text-truncate">FECHA FIN PLANILLA</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of listaDatos
                    | paginate
                      : {
                          id: 'pagRhhDatos',
                          itemsPerPage: iPageSize,
                          currentPage: p2,
                          totalItems: totalItems2
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <span
                    class="text-bold"
                    [innerHTML]="i + 1 + (p2 - 1) * iPageSize"
                  ></span>
                </td>
                <td><span [innerHTML]="item.cCargNombre"></span></td>
                <td><span [innerHTML]="item.cCategNombre"></span></td>
                <td><span [innerHTML]="item.cDepenNombre"></span></td>
                <td><span [innerHTML]="item.cMotPlanNombre"></span></td>
                <td><span [innerHTML]="item.cRegimPensionNombre"></span></td>
                <td><span [innerHTML]="item.cTareaNombre"></span></td>
                <td><span [innerHTML]="item.cTipoPlanillaNombre"></span></td>
                <td><span [innerHTML]="item.cTipoPrestadorNombre"></span></td>
                <td>
                  <span [innerHTML]="item.dPlanillaPrestadorInicio"></span>
                </td>
                <td><span [innerHTML]="item.dPlanillaPrestadorFin"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls
          id="pagRhhDatos"
          (pageChange)="buscarUsuarios($event)"
          previousLabel="Atras"
          nextLabel="Siguiente"
        ></pagination-controls>
      </div>
    </div>
  </div>
</ng-template>
