.check-customizado{
    justify-content: center;
    flex: 1;
}
.bolita_pp_red{
    position: relative;
    &::before{
        content: '';
        cursor: pointer;
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        transform: translate(-50%,-50%);
    }
}
.bolita_pp_green{
    position: relative;
    &::before{
        content: '';
        cursor: pointer;
        position: absolute;
        background-color: green;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        transform: translate(-50%,-50%);
    }
}
.tam-custom{
    font-size: 19px;
}