<!-- <div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div> -->
<ngx-spinner
  bdColor="white"
  size="medium"
  color="rgba(41,63,128,1)"
  type="square-jelly-box"
  name="general"
  [fullScreen]="false"
  ><p style="color: rgba(41, 63, 128, 1)">Cargando...</p></ngx-spinner
>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">ASESORÍA</li>
    <li class="breadcrumb-item active" aria-current="page">EXPEDIENTES</li>
  </ol>
</nav>
<div class="col-md-12">
  <div class="row">
    <div
      class="align-items-center d-flex col-md-4 border border-white bg-light"
    >
      <div class="col-6">
        <div class="form-group">
          <label>Acciones</label><br />
          <button
            class="btn btn-primary btn-rounded mt-1"
            ngbTooltip="Agregar"
            (click)="modalFormOpen(modalForm)"
          >
            <global-font-awesome-v4 name="plus-circle"></global-font-awesome-v4>
            Agregar
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Exportar a:</label><br />
          <button
            class="btn btn-primary btn-rounded btn-sm mt-1"
            [matMenuTriggerFor]="menuD"
          >
            <global-font-awesome-v4 name="download"></global-font-awesome-v4>
            Descargar
          </button>
          <mat-menu #menuD="matMenu">
            <!-- <button mat-menu-item (click)="downloadReport('PDF')">
                <global-font-awesome-v4
                  name="file-pdf-o"
                ></global-font-awesome-v4>
                <span> PDF</span>
              </button> -->
            <button mat-menu-item (click)="downloadReport('EXCEL')">
              <global-font-awesome-v4
                name="file-excel-o"
              ></global-font-awesome-v4>
              <span> EXCEL</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="col-md-8 border border-white bg-light">
      <form
        class="row m-1 mt-1"
        (ngSubmit)="seleccionar()"
        [formGroup]="formGlobal"
      >
        <div class="col-lg-3 col-md-6 col-sm-6">
          <mat-form-field class="w-100" color="primary" appearance="fill">
            <mat-label>Materia:</mat-label>
            <mat-select formControlName="materiaFiltro">
              <mat-option
                *ngFor="let materia of listaMaterias"
                [value]="materia.id"
              >
                {{ materia.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <mat-form-field class="w-100" color="primary" appearance="fill">
            <mat-label>Etapa actual:</mat-label>
            <mat-select formControlName="etapaFiltro">
              <mat-option *ngFor="let etapa of listaEtapas" [value]="etapa.id">
                {{ etapa.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <mat-form-field class="w-100" color="primary" appearance="fill">
            <mat-label>Desde:</mat-label>
            <input matInput type="date" formControlName="fechaIFiltro" />
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <mat-form-field class="w-100" color="primary" appearance="fill">
            <mat-label>Hasta:</mat-label>
            <input matInput type="date" formControlName="fechaFFiltro" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <button
            color="primary"
            class="w-100"
            mat-stroked-button
            [disabled]="!this.formGlobal.valid"
            type="submit"
          >
            Buscar Expedientes
            <global-font-awesome-v4 name="search-plus"></global-font-awesome-v4>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div class="col-12"> -->
<div class="card col-12 o-hidden py-2 table-responsive">
  <!-- <div class="col-12"> -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="head-tablas">
          <th colspan="7">
            <h1 class="titulo text-center">{{ titulo }}</h1>
          </th>
        </tr>
        <!-- <tr class="head-tablas">
            <th *ngFor="let titulo of encabezadosExpedientes">{{ titulo }}</th>
          </tr> -->
        <tr class="">
          <th>
            <!-- <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Filtro Número..."
                /> -->
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Número...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                matInput
                [(ngModel)]="campoFiltro.numero"
              />
            </mat-form-field>
          </th>
          <th>
            <!-- <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Filtro Nombre..."
                /> -->
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Nombre...</mat-label>
              <input
                (keyup)="filtrar()"
                [(ngModel)]="campoFiltro.nombre"
                type="text"
                class="text-dark"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <!-- <input
                type="text"
                (keyup)="filtrar()"
                class="form-control form-control-sm"
                placeholder="Filtro Tipo..."
                /> -->
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Tipo de Expediente...</mat-label>
              <input
                [(ngModel)]="campoFiltro.nombre_tipo_expediente"
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <!-- <input
                type="text"
                (keyup)="filtrar()"
                class="form-control form-control-sm"
                placeholder="Filtro Tipo..."
                /> -->
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Materia...</mat-label>
              <input
                [(ngModel)]="campoFiltro.nombre_materia_expediente"
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <!-- <input
                type="text"
                (keyup)="filtrar()"
                class="form-control form-control-sm"
                placeholder="Filtro Tipo..."
                /> -->
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Órgano Jurisdiccional...</mat-label>
              <input
                [(ngModel)]="campoFiltro.sala"
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <!-- <input
                type="text"
                (keyup)="filtrar()"
                class="form-control form-control-sm"
                placeholder="Filtro Tipo..."
                /> -->
            <!-- <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Especialista...</mat-label>
              <input
                [(ngModel)]="campoFiltro.especialista"
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                matInput
              />
            </mat-form-field> -->
            <span class="text-dark"> P. PROCESALES </span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <ng-container *ngIf="listado as result">
          <tr
            *ngFor="
              let registro of result
                | paginate
                  : {
                      id: 'pagSalas',
                      itemsPerPage: iPageSize,
                      currentPage: p
                    }
            "
          >
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.numero.toString() | resaltar: campoFiltro.numero
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="registro.nombre | resaltar: campoFiltro.nombre"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.tipo_exp
                    | resaltar: campoFiltro.nombre_tipo_expediente
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.nombre_materia
                    | resaltar: campoFiltro.nombre_materia_expediente
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="registro.nombre_sala | resaltar: campoFiltro.sala"
              ></span>
            </td>
            <td class="text-center">
              <!-- <span
                [innerHTML]="
                  registro.esp_legal | resaltar: campoFiltro.especialista
                "
              ></span> -->

              <span
                class="bolita_pp_red"
                (click)="
                  mostrarModalInvolucrados(modalInvolucrados, [registro])
                "
                *ngIf="registro.involucrados === null"
                matTooltip="SIN REGISTRO"
              ></span>
              <span
                class="bolita_pp_green"
                (click)="
                  mostrarModalInvolucrados(modalInvolucrados, [registro])
                "
                *ngIf="registro.involucrados !== null"
                matTooltip="CON REGISTRO"
              ></span>
            </td>
            <td class="text-center">
              <!-- <button
              class="btn btn-outline-primary"
              mat-stroked-button
              ngbTooltip="Agregar Involucrados"
              (click)="modalFormPersona(modalPersonas)"
            >
              <global-font-awesome-v4
                name="far fa-eye"
              ></global-font-awesome-v4>
            </button>
            <button
              class="btn btn-outline-success"
              mat-stroked-button
              ngbTooltip="Editar"
              placement="right"
              (click)="editar(modalForm, [registro])"
            >
              <global-font-awesome-v4
                name="pencil-square-o"
              ></global-font-awesome-v4>
            </button>
            <button
              class="btn btn-outline-danger"
              mat-stroked-button
              ngbTooltip="Eliminar"
              placement="bottom"
              (click)="eliminar([registro])"
            >
              <global-font-awesome-v4 name="trash-o"></global-font-awesome-v4>
            </button> -->
              <button
                mat-icon-button
                matTooltip="Opciones"
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="
                    mostrarModalEstadoProceso(modalEstadosDeProceso, [registro])
                  "
                >
                  <mat-icon>bookmarks</mat-icon>
                  <span>Estados del Proceso</span>
                </button>

                <button mat-menu-item (click)="goToCitaciones(registro)">
                  <mat-icon>event</mat-icon>
                  <span>Citaciones</span>
                </button>
                <button mat-menu-item (click)="goToTareas(registro)">
                  <mat-icon>add_task</mat-icon>
                  <span>Tareas</span>
                </button>
                <button mat-menu-item (click)="seguimiento(registro, seguir)">
                  <mat-icon>timeline</mat-icon>
                  <span>Mostrar Seguimiento</span>
                </button>
                <a
                  mat-menu-item
                  [attr.href]="
                    ruta + '/reportes/expediente_historico_pdf/' + registro.id
                  "
                  target="_blank"
                >
                  <mat-icon>description</mat-icon>
                  <span>Historial</span>
                </a>
                <button mat-menu-item (click)="editar(modalForm, [registro])">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="downloadReport('pdf', registro)">
                  <mat-icon>print</mat-icon>
                  <span>Citaciones</span>
                </button>
                <!-- <button mat-menu-item (click)="eliminar([registro])">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Eliminar</span>
                </button> -->
              </mat-menu>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <br />
  <pagination-controls
    id="pagSalas"
    (pageChange)="p = $event"
    previousLabel="Atras"
    nextLabel="Siguiente"
  ></pagination-controls>
  <!-- </div> -->
</div>
<ng-template #modalInvolucrados let-modal let-d="dismiss">
  <div class="card text-center">
    <div class="card-header">
      Partes Procesales
      <button
        (click)="d('Cancelado')"
        type="button"
        class="close text-white"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>Nombre de Expediente:</mat-label>
            <input matInput [value]="expedienteActual.nombre" readonly />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>Número de Expediente:</mat-label>
            <input matInput [value]="expedienteActual.numero" readonly />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 d-flex">
        <button
          mat-raised-button
          (click)="crearFormOpenPersonas(modalFormPersonas)"
          color="primary"
          type="button"
        >
          <mat-icon>add_circle</mat-icon>
          Agregar
        </button>
      </div>
      <br />
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="btn-primary">
            <th>PARTE</th>
            <th>NOMBRE / RAZÓN SOCIAL</th>
            <th>OBSERVACIÓN</th>
            <th>FECHA</th>
            <th></th>
          </tr>
          <!-- <tr class="btn-primary">
          <th>
            <input
              type="text"
              (keyup)="filtrarPersona()"
              class="form-control form-control-sm"
              placeholder="Filtro Id..."
              [(ngModel)]="campoFiltro.idPer"
            />
          </th>
          <th>
            <input
              type="text"
              (keyup)="filtrarPersona()"
              class="form-control form-control-sm"
              placeholder="Filtro Nombre..."
              [(ngModel)]="campoFiltro.nombrePer"
            />
          </th>
          <th></th>
        </tr> -->
        </thead>
        <tbody class="table-hover">
          <ng-container *ngIf="involucrados as result">
            <tr
              *ngFor="
                let involucrado of result
                  | paginate
                    : {
                        id: 'paginationInvolucrados',
                        itemsPerPage: iPageSize,
                        currentPage: pI
                      };
                index as i
              "
            >
              <td class="text-center">
                <span [innerHTML]="involucrado.calidad"></span>
                <!-- | resaltar: campoFiltro.nombreCalidadInvolucrado -->
              </td>
              <td class="text-center">
                <span [innerHTML]="involucrado.nombre_pers"></span>
                <!-- | resaltar: campoFiltro.nombreInvolucrado -->
              </td>
              <td class="text-center">
                <span [innerHTML]="involucrado.observacion"></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="involucrado.fecha | date: 'y-M-d hh:m a'"
                ></span>
                <!-- | resaltar: campoFiltro.nombreTipoInvolucrado -->
              </td>
              <td class="text-right">
                <button
                  class="btn btn-outline-primary"
                  ngbTooltip="Editar"
                  (click)="
                    editarFormOpenPersonas(modalFormPersonas, involucrado)
                  "
                >
                  <global-font-awesome-v4
                    name="info-circle"
                  ></global-font-awesome-v4>
                </button>
                <button
                  class="btn btn-outline-primary"
                  ngbTooltip="Quitar"
                  (click)="eliminarPersonaDelCaso(involucrado, i)"
                >
                  <global-font-awesome-v4
                    name="times-circle"
                  ></global-font-awesome-v4>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <br />
      <pagination-controls
        id="paginationInvolucrados"
        (pageChange)="pI = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>
<ng-template #modalFormPersonas let-modal let-d="dismiss">
  <div class="card text-center">
    <div class="card-header">
      Añadir Parte Procesal
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form
      [formGroup]="formularioPersonasExpediente"
      (ngSubmit)="guardarPersona(); d()"
    >
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Parte:</mat-label>
              <mat-select required formControlName="calidad">
                <mat-option
                  *ngFor="let calidad of listaCalidades"
                  [value]="calidad.id"
                >
                  {{ calidad.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Fecha:</mat-label>
              <input
                matInput
                formControlName="fecha"
                type="datetime-local"
                required
              />
            </mat-form-field>
          </div> -->
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>N° Documento (DNI / RUC - PIDE):</mat-label>
              <input
                matInput
                formControlName="documento"
                (keyup)="buscarPide($event)"
                type="number"
              />
            </mat-form-field>
          </div>
          <div class="col-8">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Persona Seleccionada:</mat-label>
              <input
                matInput
                readonly
                formControlName="nombre"
                class="tam-custom"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- <div class="col-4">
            <button
              class="w-100 btn btn-primary"
              mat-raised-button
              type="button"
              (click)="modalFormPersona(modalPersonas)"
            >
              <mat-icon>add_circle</mat-icon>Seleccionar
            </button>
          </div> -->
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Observación:</mat-label>
              <textarea
                matInput
                formControlName="observacion"
                cols="30"
                rows="4"
              >
              </textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4 ml-auto">
            <button
              type="submit"
              [disabled]="!formularioPersonasExpediente.valid"
              mat-raised-button
              color="primary"
            >
              <global-font-awesome-v4 name="save"></global-font-awesome-v4>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #modalForm let-modal>
  <div class="card text-center">
    <div class="card-header">
      {{ tituloForm }}
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="guardar()">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <div class="card-body">
          <mat-step formGroupName="cuerpo_uno">
            <ng-template matStepLabel>Características</ng-template>
            <div class="row">
              <div class="col-12">
                <span>Los campos marcados con (*) son Obligatorios!</span>

                <input type="text" formControlName="id" hidden />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Nombre:</mat-label>
                  <input matInput formControlName="nombre" required />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Número:</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="numero"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Organo Jurisdiccional:</mat-label>
                  <mat-select required formControlName="sala">
                    <mat-option
                      *ngFor="let sala of listaSalas"
                      [value]="sala.id"
                    >
                      {{ sala.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Descripción:</mat-label>
                  <textarea
                    matInput
                    formControlName="descripcion"
                    required
                    cols="30"
                    rows="3"
                  >
                  </textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Materia:</mat-label>
                  <mat-select required formControlName="materia">
                    <mat-optgroup
                      *ngFor="let materia of listaMateriasFiltradas"
                      [label]="materia.nombre_tipo"
                    >
                      <mat-option
                        *ngFor="let m of materia.materias"
                        [value]="m.id"
                      >
                        {{ m.nombre }}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Acto Procesal:</mat-label>
                  <input matInput formControlName="acto" required />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex">
                <div class="col-6">
                  <mat-form-field
                    class="w-100"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Codigo de Trámite Documentario:</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="idtramitedoc"
                      readonly
                    />
                    <mat-hint>OPCIONAL</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <button
                    (click)="mostrarModalTramite(modalTramite)"
                    mat-raised-button
                    color="primary"
                    type="button"
                    matTooltip="BUSCAR EN TRÁMITE"
                  >
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
              <div class="col-6">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Distrito Judicial:</mat-label>
                  <mat-select required formControlName="distrito">
                    <mat-option
                      *ngFor="let distrito of listaDistritos"
                      [value]="distrito.id"
                    >
                      {{ distrito.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Estado del Expediente:</mat-label>
                  <mat-select required formControlName="estadoEx">
                    <mat-option
                      *ngFor="let estado of listaEstados"
                      [value]="estado.id"
                    >
                      {{ estado.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Prioridad del Expediente:</mat-label>
                  <mat-select required formControlName="prioridad">
                    <mat-option
                      *ngFor="let prioridad of listaPrioridad"
                      [value]="prioridad.id"
                    >
                      {{ prioridad.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-6">
                <div class="form-group">
                  <label>Estado: (*)</label><br />
                  <div class="form-check form-check-inline col-12 d-flex">
                    <label
                      for=""
                      class="form-check-label d-flex align-items-center check-customizado"
                      ><input
                        type="radio"
                        class="form-check-input"
                        name="estado"
                        formControlName="estado"
                        [value]="1"
                      />
                      Habilitado</label
                    >
                    <label
                      for=""
                      class="form-check-label d-flex align-items-center check-customizado"
                      ><input
                        type="radio"
                        class="form-check-input"
                        name="estado"
                        formControlName="estado"
                        [value]="0"
                      />
                      Deshabilitado</label
                    >
                  </div>
                </div>
              </div> -->
              <div class="col-6">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Monto de Indemnización:</mat-label>
                  <input type="number" matInput formControlName="monto" />
                  <mat-hint>OPCIONAL</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <button
                type="button"
                class="col-3 ml-auto"
                mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="validarParteUno()"
              >
                Siguiente
              </button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Autoridades Legales</ng-template>
            <div class="row">
              <div class="col-8 mx-auto">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Juez:</mat-label>
                  <input matInput formControlName="juez" />
                  <mat-hint>OPCIONAL</mat-hint>
                  <mat-error>Solo escribir carácteres</mat-error>
                </mat-form-field>
              </div>
              <!-- <div class="col-4">
                <button
                  class="w-100 btn btn-primary"
                  mat-raised-button
                  type="button"
                  (click)="modalFormPersonaDemanda(modalPersonas, 1)"
                >
                  <global-font-awesome-v4
                    name="search-plus"
                  ></global-font-awesome-v4>
                  Seleccionar
                </button>
              </div> -->
            </div>
            <div class="row">
              <div class="col-8 mx-auto">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Fiscal:</mat-label>
                  <input matInput formControlName="fiscal" />
                  <mat-hint>OPCIONAL</mat-hint>
                  <mat-error>Solo escribir carácteres</mat-error>
                </mat-form-field>
              </div>
              <!-- <div class="col-4">
                <button
                  class="w-100 btn btn-primary"
                  mat-raised-button
                  type="button"
                  (click)="modalFormPersonaDemanda(modalPersonas, 2)"
                >
                  <global-font-awesome-v4
                    name="search-plus"
                  ></global-font-awesome-v4>
                  Seleccionar
                </button>
              </div> -->
            </div>
            <div class="row">
              <div class="col-8 mx-auto">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Especialista Legal:</mat-label>
                  <input matInput formControlName="especialista" />
                  <mat-hint>OPCIONAL</mat-hint>
                  <mat-error>Solo escribir carácteres</mat-error>
                </mat-form-field>
              </div>
              <!-- <div class="col-4">
                <button
                  class="w-100 btn btn-primary"
                  mat-raised-button
                  type="button"
                  (click)="modalFormPersonaDemanda(modalPersonas, 3)"
                >
                  <global-font-awesome-v4
                    name="search-plus"
                  ></global-font-awesome-v4>
                  Seleccionar
                </button>
              </div> -->
            </div>
            <div class="row">
              <button
                type="button"
                class="col-3 ml-auto"
                mat-raised-button
                color="primary"
                matStepperNext
              >
                Siguiente
              </button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Etapa</ng-template>
            <div class="row">
              <div class="col-6">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Etapa actual:</mat-label>
                  <mat-select required formControlName="etapa">
                    <mat-option
                      *ngFor="let etapa of listaEtapas"
                      [value]="etapa.id"
                    >
                      {{ etapa.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Fecha de Etapa:</mat-label>
                  <input
                    matInput
                    type="datetime"
                    formControlName="fechaEtapa"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Observación de la etapa:</mat-label>
                  <textarea
                    matInput
                    formControlName="obsEtapa"
                    cols="30"
                    rows="3"
                  >
                  </textarea>
                  <mat-hint>OPCIONAL</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-4 ml-auto">
                <button
                  class="col-12"
                  type="submit"
                  [disabled]="!formulario.valid"
                  mat-raised-button
                  color="primary"
                >
                  <global-font-awesome-v4 name="save"></global-font-awesome-v4>
                  Guardar
                </button>
              </div>
            </div>
          </mat-step>
        </div>
        <!-- <div class="card-footer text-muted"> -->
        <!-- </div> -->
      </mat-horizontal-stepper>
    </form>
  </div>
</ng-template>
<!--  modal para agregar personas -->
<ng-template #modalPersonas let-c="close" let-d="dismiss" let-modal>
  <div class="card text-center">
    <div class="card-header">
      Buscar Persona
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <form [formGroup]="formBuscarPersona" (ngSubmit)="buscarPersona()">
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <label>Buscar por:</label>
              <input
                type="text"
                [ngClass]="{
                  'is-invalid': !formBuscarPersona.get('buscar').valid
                }"
                class="form-control"
                placeholder="Apellidos Nombres"
                formControlName="buscar"
              />
            </div>
          </div>
          <div class="col-2">
            <btn-loading
              [disabled]="formBuscarPersona.invalid"
              btnClass="btn-primary btn-rounded  btn-block mt-3"
              [loadingText]="msgBuscando"
              [loading]="loading"
            >
              <global-font-awesome-v4
                name="search-plus"
              ></global-font-awesome-v4>
              Buscar
            </btn-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              <span class="text-bold">Registros encontrados:</span>
              {{ registrosPersonas }}
            </p>
          </div>
        </div>
      </form>
      <br />
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="btn-primary">
            <th>CÓDIGO</th>
            <th>PERSONA</th>
            <th></th>
          </tr>
          <tr class="btn-primary">
            <th>
              <input
                type="text"
                (keyup)="filtrarPersona()"
                class="form-control form-control-sm"
                placeholder="Filtro Id..."
                [(ngModel)]="campoFiltro.idPer"
              />
            </th>
            <th>
              <input
                type="text"
                (keyup)="filtrarPersona()"
                class="form-control form-control-sm"
                placeholder="Filtro Nombre..."
                [(ngModel)]="campoFiltro.nombrePer"
              />
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <ng-container *ngIf="listadoPer as result">
            <tr
              *ngFor="
                let registro1 of result
                  | paginate
                    : {
                        id: 'paginationPersona',
                        itemsPerPage: iPageSize,
                        currentPage: pE
                      }
              "
            >
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro1.id.toString() | resaltar: campoFiltro.idPer
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro1.nombre | resaltar: campoFiltro.nombrePer
                  "
                ></span>
              </td>
              <td class="text-right">
                <button
                  class="btn btn-outline-primary"
                  ngbTooltip="Seleccionar"
                  (click)="c([registro1])"
                >
                  <global-font-awesome-v4
                    name="check-circle"
                  ></global-font-awesome-v4>
                  Seleccionar
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <br />
      <pagination-controls
        id="paginationPersona"
        (pageChange)="pE = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>

<!-- MODALES PARA ESTADOS DE PROCESO -->
<ng-template #modalEstadoProceso let-c="close" let-d="dismiss" let-modal>
  <div class="card text-center">
    <div class="card-header">
      ESTADO DE PROCESO
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <form
        [formGroup]="formEstadoProceso"
        (ngSubmit)="guardarEstadoProceso(); c()"
      >
        <input type="hidden" formControlName="id" />
        <input type="hidden" formControlName="iExpediente" />
        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Documento de Proceso:</mat-label>
              <input matInput formControlName="documento" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Fecha de Proceso:</mat-label>
              <input matInput formControlName="fecha" type="date" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Descripción del estado de proceso:</mat-label>
              <textarea
                matInput
                formControlName="descripcion"
                cols="30"
                rows="8"
              >
              </textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4 ml-auto">
            <button
              class="col-12"
              type="submit"
              [disabled]="!formEstadoProceso.valid"
              mat-raised-button
              color="primary"
            >
              <global-font-awesome-v4 name="save"></global-font-awesome-v4>
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<ng-template #modalEstadosDeProceso let-c="close" let-d="dismiss">
  <div class="card text-center">
    <div class="card-header">
      ESTADOS DE PROCESO
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>Nombre de Expediente:</mat-label>
            <input matInput [value]="expedienteActual.nombre" readonly />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>Número de Expediente:</mat-label>
            <input matInput [value]="expedienteActual.numero" readonly />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 d-flex">
        <button
          mat-raised-button
          (click)="crearFormOpenEstados(modalEstadoProceso)"
          color="primary"
          type="button"
        >
          <mat-icon>add_circle</mat-icon>
          Agregar
        </button>
      </div>
      <br />
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="btn-primary">
            <th>DOCUMENTO</th>
            <th>FECHA</th>
            <th>DESCRIPCIÓN</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <ng-container *ngIf="estadosExpedientes as result">
            <tr
              *ngFor="
                let registro1 of result
                  | paginate
                    : {
                        id: 'pagActos',
                        itemsPerPage: iPageSize,
                        currentPage: pA
                      };
                index as i
              "
            >
              <td class="text-center">
                <span [innerHTML]="registro1.documento"></span>
              </td>
              <td class="text-center">
                <span
                  class="text-truncate"
                  [innerHTML]="registro1.fecha_doc | date: 'y-M-d'"
                ></span>
              </td>
              <td class="text-center">
                <span [innerHTML]="registro1.descripcion"></span>
              </td>
              <td class="text-right">
                <button
                  class="btn btn-outline-primary"
                  ngbTooltip="Editar"
                  (click)="
                    editarFormEstadoProceso(modalEstadoProceso, registro1)
                  "
                >
                  <global-font-awesome-v4
                    name="info-circle"
                  ></global-font-awesome-v4>
                </button>
                <button
                  class="btn btn-outline-primary"
                  ngbTooltip="Quitar"
                  (click)="eliminarEstadoProceso(registro1)"
                >
                  <global-font-awesome-v4
                    name="times-circle"
                  ></global-font-awesome-v4>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <br />
      <pagination-controls
        id="pagActos"
        (pageChange)="pA = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>
<ng-template let-modal #modalTramite let-c="close">
  <div class="card text-center">
    <div class="card-header">
      Buscar Persona
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <app-tramite-documentario-ext (salida)="c($event)" [tipo]="2">
      </app-tramite-documentario-ext>
    </div>
  </div>
</ng-template>
<ng-template let-modal #seguir>
  <div class="card o-hidden text-center">
    <div class="card-header">
      SEGUIMIENTO
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div class="col-12">
          <div class="col-auto ml-auto">
            <button
              mat-raised-button
              color="primary"
              matTooltip="IMPRIMIR"
              (click)="imprimirSeguimiento()"
            >
              <mat-icon>print</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12">
          <table class="table table-bordered w-100">
            <thead class="thead-dark">
              <tr class="head-tablas">
                <th>NÚMERO</th>
                <th>EMISOR</th>
                <th>DOCUMENTO</th>
                <th>ASUNTO</th>
                <th>TIPO DOCUMENTO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="tramiteActual as registro">
                <td class="text-center">
                  <span
                    [innerHTML]="'N°' + registro.cTramNumeroDocumento"
                  ></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="registro.cNombre_PersFirmaEmisor"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="registro.cTramDocumentoTramite"></span>
                </td>

                <td class="text-center">
                  <span [innerHTML]="registro.cTramAsuntoDocumento"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="registro.cTipoDocDescripcion"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered w-100">
          <thead class="thead-dark">
            <tr class="head-tablas">
              <th>#</th>
              <th>FECHA Y HORA</th>
              <th>DEPENDENCIA</th>
              <th>DOCUMENTO</th>
              <th>ASUNTO</th>
              <th>ESTADO</th>
              <th>TIEMPO TRANSCURRIDO</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="seguimientos as result">
              <tr
                *ngFor="
                  let item of result
                    | paginate
                      : {
                          id: 'pagSeguimiento',
                          itemsPerPage: iPageSize,
                          currentPage: pS
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <span [innerHTML]="i + 1 + (pS - 1) * iPageSize"></span>
                </td>
                <td class="text-center">
                  <span>Env.:</span><br />
                  <span
                    [innerHTML]="item.dtTramMovFechaHoraEnvio | date: 'M/d/yy'"
                  ></span>
                  <br />
                  <span
                    [innerHTML]="item.dtTramMovFechaHoraEnvio | date: 'h:mm a'"
                  ></span>
                  <br />
                  <br />
                  <span>Rec.:</span> <br />
                  <span
                    [innerHTML]="
                      item.dtTramMovFechaHoraRecibido | date: 'M/d/yy'
                    "
                  ></span>
                  <br />
                  <span
                    [innerHTML]="
                      item.dtTramMovFechaHoraRecibido | date: 'h:mm a'
                    "
                  ></span>
                </td>
                <td class="text-center">
                  <span
                    [innerHTML]="'Emisor: ' + item.cDepenEmisorNombre"
                  ></span>
                  <br />
                  <br />
                  <span
                    [innerHTML]="'Receptor: ' + item.cDepenReceptorNombre"
                  ></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.cTramDocumentoTramite"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.cTramAsunto"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.cEstadoTramiteNombre"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.duracion"></span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <pagination-controls
        id="pagSeguimiento"
        (pageChange)="pS = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>
