<div class="col-md-12 m-0 p-0" height="100%">
    <div class="row">
        <div class="col-md-12 pr-0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" >
                          <div class="col-md-2 border border-white bg-light"> 
                            <div class="row m-1 mt-1">
                                <div class="form-group">
                                    <label>Acciones</label><br>
                                    <button   class="btn btn-primary btn-rounded btn-sm mt-1" (click)="modalFormIngresosConsolidados(modalIngresosConsolidados)">
                                        <global-font-awesome-v4 name="plus"></global-font-awesome-v4>
                                         Agregar 
                                    </button> &nbsp; &nbsp;               
                              </div>                                
                            </div>
                          </div>  
                          <div class="col-md-2 border border-white bg-light">
                            <div class="row m-1 mt-1">
                                <div class="col-md-10 p-1">
                                    <div class="form-group">
                                        <label>Exportar a:</label>
                                        <select class="form-control form-control-sm" [(ngModel)]="typeReport">
                                          <option value="pdf">PDF</option>
                                          <option value="excel">EXCEL</option>
                                          <option value="word">WORD</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="col-md-2 p-1">
                                    <br>
                                    <button ngbTooltip="generar reporte" class="btn btn-primary btn-rounded btn-sm mt-1" (click)="generateReport()">
                                      <global-font-awesome-v4 name="cogs"></global-font-awesome-v4>
                                    </button>
                                  </div>                                
                            </div>
                          </div>                            
                          <div class="col-md-8 border border-white bg-light">
                            <form [formGroup]="formFiltroIngresosConsolidados" (ngSubmit)="filtIngresosConsolidados(1)">
                                <div class="row m-1">
                                  <ng-container *ngIf="sectionFiltroTipoDoc">
                                    <div class="col-md-3 p-1" style="display:none">
                                      <div class="form-group">
                                        <label>Tipo Recibo</label>
                                        <select class="form-control form-control-sm " formControlName="iTipoRecIdFiltro"  (change)="filtIngresosConsolidados(1)" >
                                          <option *ngFor="let list of comboTiposRecibosFiltro" [value]="list.iTipoRecId">
                                            {{list.cTipoReciboNombre}}
                                          </option>   
                                        </select>
                                        <div class="validForm m-1 p-0" *ngIf="formFiltroIngresosConsolidados.get('iTipoRecIdFiltro').hasError('required') && formFiltroIngresosConsolidados.get('iTipoRecIdFiltro').touched">Este campo es requerido</div>                                   
                                      </div>
                                    </div>  
                                </ng-container>                                  
                                  <div class="col-md-2 p-1">
                                    <div class="form-group">
                                      <label>Filtrar por:</label>
                                      <select class="form-control form-control-sm " formControlName="iOpcionFiltro" [(ngModel)]="iOpcionFiltro" (change)="changeSectionFilter($event.target.value);filtIngresosConsolidados(1)">
                                        <option value="0">Todo</option>
                                        <option value="1">Por Fecha</option>
                                        <option value="2">Por Año y mes</option>
                                        <option value="3">Por Rango de Fechas</option>
                                        <option value="4">Segun Criterio</option>
                                      </select>
                                    </div>
                                  </div>  
                                  <ng-container *ngIf="sectionFiltroFecha">
                                    <div class="col-md-3 p-1" >
                                      <div class="form-group">
                                        <label>Fecha Registro</label>
                                        <input type="date" formControlName="cFechaFiltro" class="form-control form-control-sm">
                                        <div class="validForm m-1 p-0" *ngIf="formFiltroIngresosConsolidados.get('cFechaFiltro').hasError('required') && formFiltroIngresosConsolidados.get('cFechaFiltro').touched">Este campo es requerido</div>                      
                                      </div>
                                    </div>
                                  </ng-container>
                                  <ng-container *ngIf="sectionFiltroPeriodoMes">
                                    <div class="col-md-3 p-1">
                                      <div class="form-group">
                                        <label>Año SIAF</label>
                                        <select class="form-control form-control-sm " formControlName="iYearFiltro" [(ngModel)]="iYearFiltro">
                                          <option value="">Seleccione un Año..</option>
                                          <option *ngFor="let list of comboPeriodoFiltro" [value]="list.iYearId">
                                            {{list.iYearId}}
                                          </option>   
                                        </select>
                                        <div class="validForm m-1 p-0" *ngIf="formFiltroIngresosConsolidados.get('iYearFiltro').hasError('required') && formFiltroIngresosConsolidados.get('iYearFiltro').touched">Este campo es requerido</div>                                   
                                      </div>
                                    </div> 
                                    <div class="col-md-3 p-1">
                                      <div class="form-group">
                                        <label>Mes Registro</label>
                                        <select class="form-control form-control-sm " formControlName="iMonthFiltro" [(ngModel)]="iMonthFiltro" >
                                          <option value="">Seleccione un mes..</option>
                                          <option *ngFor="let list of comboMesFiltro" [value]="list.iMonthId">
                                            {{list.cMonthNombre}}
                                          </option>
                                        </select>
                                        <div class="validForm m-1 p-0" *ngIf="formFiltroIngresosConsolidados.get('iMonthFiltro').hasError('required') && formFiltroIngresosConsolidados.get('iMonthFiltro').touched">Este campo es requerido</div>                                                     
                                      </div>
                                    </div> 
                                  </ng-container>
                                  <ng-container *ngIf="sectionFiltroRangoFechas">          
                                    <div class="col-md-3 p-1" >
                                      <div class="form-group">
                                        <label>Fecha Inicio Registro</label>
                                        <input type="date" formControlName="cFechaDesdeFiltro" class="form-control form-control-sm ">
                                        <div class="validForm m-1 p-0" *ngIf="formFiltroIngresosConsolidados.get('cFechaDesdeFiltro').hasError('required') && formFiltroIngresosConsolidados.get('cFechaDesdeFiltro').touched">Este campo es requerido</div>                                                     
                                      </div>
                                    </div>
                                    <div class="col-md-3 p-1" >
                                      <div class="form-group">
                                        <label>Fecha Fin Registro</label>
                                        <input type="date" formControlName="cFechaHastaFiltro" class="form-control form-control-sm ">
                                        <div class="validForm m-1 p-0" *ngIf="formFiltroIngresosConsolidados.get('cFechaHastaFiltro').hasError('required') && formFiltroIngresosConsolidados.get('cFechaHastaFiltro').touched">Este campo es requerido</div>                                                     
                                      </div>
                                    </div> 
                                  </ng-container>
                                  <ng-container *ngIf="sectionFiltroCriterio">
                                    <div class="col-md-2 p-1">
                                        <div class="form-group">
                                          <label>Año SIAF</label>
                                          <select class="form-control form-control-sm " formControlName="iYearCriterioFiltro" [(ngModel)]="iYearCriterioFiltro">
                                            <option value="">Seleccione un Año..</option>
                                            <option *ngFor="let list of comboPeriodoFiltro" [value]="list.iYearId">
                                              {{list.iYearId}}
                                            </option>   
                                          </select>
                                          <div class="validForm m-1 p-0" *ngIf="formFiltroIngresosConsolidados.get('iYearCriterioFiltro').hasError('required') && formFiltroIngresosConsolidados.get('iYearCriterioFiltro').touched">Este campo es requerido</div>                                   
                                        </div>
                                    </div>
                                    <div class="col-md-2 p-1" >
                                      <div class="form-group">
                                        <label>Criterio</label>
                                        <select class="form-control form-control-sm " formControlName="iCritIdFiltro" [(ngModel)]="iCritIdFiltro" >
                                          <option value="">Seleccione un criterio</option>
                                          <option *ngFor="let list of comboCriterioFiltro" [value]="list.iCritId">
                                            {{list.cCritDescripcion}}
                                          </option>    
                                        </select>
                                        <div class="validForm m-1 p-0" *ngIf="formFiltroIngresosConsolidados.get('iCritIdFiltro').hasError('required') && formFiltroIngresosConsolidados.get('iCritIdFiltro').touched">Este campo es requerido</div>                                                                 
                                      </div>
                                    </div>   
                                    <div class="col-md-2 p-1" >
                                      <div class="form-group">
                                        <label>valor de búsqueda</label>
                                        <input type="text" class="form-control form-control-sm " formControlName="cCritVariableFiltro">
                                        <div class="validForm m-1 p-0" *ngIf="formFiltroIngresosConsolidados.get('cCritVariableFiltro').hasError('required') && formFiltroIngresosConsolidados.get('cCritVariableFiltro').touched">Este campo es requerido</div>                                                                                 
                                      </div>
                                    </div>          
                                  </ng-container>             
                                  <div class="col-md-1 p-1">
                                    <br>
                                    <!--[disabled]="formFiltroIngresosConsolidados.invalid"-->
                                    <button  ngbTooltip="actualizar" class="btn btn-primary btn-rounded btn-sm mt-1" type="submit" >
                                      <global-font-awesome-v4 name="refresh"></global-font-awesome-v4>
                                       </button>
                                  </div>
                                </div>
                            </form>                            
                          </div>  
       
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row" > 
                  <div class="col-md-12 p-0 border border-white bg-white">
                    <div style="overflow-x: auto;">
                        <table class="table table-striped text-center m-0" style="background-color: white;width:99%">
                            <thead class="thead-light">
                                <tr>
                                    <th style="width: 5%;">
                                        <input style="width: 18px;height:18px;" type="checkbox" [(ngModel)]="chkTodos" (change)="checkall()">
                                    </th>                                  
                                    <!-- <th>COD</th> -->
                                    <th>NÚMERO RECIBO</th>
                                    <th>FECHA RECIBO</th>
                                    <th>TIPO</th>
                                    <th>FILIAL</th>  
                                    <th>N° PAPELETA DEPÓSITO</th>  
                                    <th>MONTO</th>  
                                    <th>OBS</th> 
                                    <th>AÑO SIAF</th>
                                    <th>N° SIAF</th>
                                    <th></th>  
                                </tr>
                            </thead>
                            <tbody  *ngIf="listaIngresosConsolidados && listaIngresosConsolidados.length > 0">
                                <tr  *ngFor="let list of listaIngresosConsolidados; let j = index"  
                                     (click)="setClickedRow(list.iRecId)" 
                                     (dblclick) = "modalFormIngresosConsolidados(modalIngresosConsolidados,list.iRecId)"
                                     [class.active]="list.iRecId == selectedRow"
                                     >
                                    <!-- <td>{{j+1}}</td> -->
                                    <td class="text-center" style="width: 37px;">
                                      <input style="width: 18px;height:18px;" type="checkbox" name="chkAccion" [(ngModel)]="list.check">
                                    </td>
                                    <!-- <td class="text-center">{{list.iRecId}}</td> -->
                                    <td class="text-center" style="background-color:#eee"><span style="font-size:13px ;font-weight:bold">{{list.iRecNumero}}</span></td>
                                    <td class="text-center">{{list.dRecFecha}}</td>
                                    <td class="text-center">{{list.cTipoDocDescripcion}}</td>
                                    <td class="text-center">{{list.cFilDescripcion}}</td>
                                    <td class="text-center">{{list.cRecNroDoc}}</td>
                                    <td class="text-right">{{list.nRecMonto | currency :'S/.'}}</td>
                                    <td class="text-left">{{list.cRecObs}}</td>
                                    <td class="text-center">{{list.Ano_eje}}</td>
                                    <td class="text-center">{{list.Expediente}}</td>
                                    <td class="text-center">
                                        <div  class="btn-group" role="group">
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="modalFormIngresosConsolidados(modalIngresosConsolidados,list.iRecId)">
                                              <global-font-awesome-v4 name="pencil"></global-font-awesome-v4>
                                            </button>                                            
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="delIngresosConsolidados([list])">
                                              <global-font-awesome-v4 name="trash"></global-font-awesome-v4>
                                            </button>
                                        </div>                                        
                                    </td>
                                </tr>
                            </tbody>
                            <tbody  *ngIf="!listaIngresosConsolidados || listaIngresosConsolidados.length == 0">
                                <tr>
                                    <td colspan="100">No hay registros</td>
                                </tr>
                            </tbody>
                            <body *ngIf="load">
                                <app-loading></app-loading>
                            </body>                            
                        </table> 
                    </div>
                    <div class="col-md-12 border border-white bg-light p-1">Doble Click para ver o editar</div>                   
                    <div *ngIf="pagination" class="col-12 mt-1">
                      <div *ngFor="let item of rows | paginate: { itemsPerPage: iPageSize,id:'listaIngresosConsolidados', currentPage: iPageNumber }"></div>
                      <pagination-controls id="listaIngresosConsolidados"  (pageChange)="iPageNumber = $event;filtIngresosConsolidados($event)" [previousLabel]="'Anterior'" [nextLabel]="'Siguiente'" ></pagination-controls>
                    </div>                    
                  </div>          
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalIngresosConsolidados let-modal>
      <div class="modal-body">
        <button type="button"  style="top:450px" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>        
        <ngb-tabset type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              Registro de Ingresos Consolidados
            </ng-template>
            <ng-template ngbTabContent>
                  <form class="p-2" [formGroup]="formIngresosConsolidados"  (ngSubmit)="savIngresosConsolidados()" enctype="multipart/form-data">
                    <p class="bg-light p-1 m-0">Datos del Recibo</p>
                    <div class="row">
                      <div class="col-md-6" style="display:none">
                          <div class="form-group">
                              <label>iRecId</label>
                              <input type="text" readonly formControlName="iRecId" class="form-control form-control-sm bg-input-teso"/>
                              <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('iRecId').hasError('required') && formIngresosConsolidados.get('iRecId').touched">Este campo es requerido</div>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label>Año ejecución</label>
                            <select   class="form-control form-control-lg " formControlName="Ano_eje" [(ngModel)]="Ano_eje">
                                <option *ngFor="let list of comboPeriodoEjecucionSIAF" [value]="list.iYearId">
                                  {{list.iYearId}}
                                </option>   
                              </select>                             
                            <!-- <input type="text" [readonly]="Ano_eje_readonly" formControlName="Ano_eje" class="form-control form-control-sm" [(ngModel)]="Ano_eje"/> -->
                            <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('Ano_eje').hasError('required') && formIngresosConsolidados.get('Ano_eje').touched">Este campo es requerido</div>
                        </div>
                    </div>  
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>N° Recibo (*)</label>
                            <input type="text" formControlName="iRecNumero" class="form-control form-control-lg"/>
                            <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('iRecNumero').hasError('required') && formIngresosConsolidados.get('iRecNumero').touched">Este campo es requerido</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>N° Papeleta Depósito (*)</label>
                            <input type="text" formControlName="cRecNroDoc" class="form-control form-control-lg bg-input-teso"/>
                            <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('cRecNroDoc').hasError('required') && formIngresosConsolidados.get('cRecNroDoc').touched">Este campo es requerido</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Monto de Recibo (*)</label>
                            <input type="number" formControlName="nRecMonto" class="form-control form-control-lg bg-input-teso text-right"/>
                            <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('nRecMonto').hasError('required') && formIngresosConsolidados.get('nRecMonto').touched">Este campo es requerido</div>
                        </div>
                    </div>                    

                      <div class="col-md-4">
                          <div class="form-group">
                              <label>Fecha Recibo (*)</label>
                              <input type="date" formControlName="dRecFecha" class="form-control form-control-sm bg-input-teso"/>
                              <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('dRecFecha').hasError('required') && formIngresosConsolidados.get('dRecFecha').touched">Este campo es requerido</div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label>Tipo de Documento (*)</label>
                              <select class="form-control form-control-sm bg-input-teso" formControlName="iTipoDocId">
                                <option value="">Seleccione</option>
                                <option *ngFor="let list of comboDocumentoRecibo" [value]="list.iTipoDocId">
                                  {{list.cTipoDocDescripcion}}
                                </option>   
                              </select>                              
                              <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('iTipoDocId').hasError('required') && formIngresosConsolidados.get('iTipoDocId').touched">Este campo es requerido</div>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label>Filial (*)</label>
                            <select class="form-control form-control-sm bg-input-teso" formControlName="iFilId">
                              <option value="">Seleccione</option>
                              <option *ngFor="let list of comboFiliales" [value]="list.iFilId">
                                {{list.cFilDescripcion}}
                              </option>   
                            </select>                               
                            <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('iFilId').hasError('required') && formIngresosConsolidados.get('iFilId').touched">Este campo es requerido</div>
                        </div>
                    </div>                      

                      <div class="col-md-12">
                        <div class="form-group">
                            <label>Observación (*)</label>
                            <textarea rows="3" formControlName="cRecObs" class="form-control form-control-sm bg-input-teso"></textarea>
                            <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('cRecObs').hasError('required') && formIngresosConsolidados.get('cRecObs').touched">Este campo es requerido</div>
                        </div>
                    </div>                      
                    </div>
                    <p class="bg-light p-1 m-0">Registro SIAF</p>
                    <div class="row">                     
                      <div class="col-md-4">
                          <div class="form-group">
                              <label>N°SIAF</label>
                              <input type="text" formControlName="Expediente" class="form-control form-control-sm bg-input-teso"/>
                              <div class="validForm m-1 p-0" *ngIf="formIngresosConsolidados.get('Expediente').hasError('required') && formIngresosConsolidados.get('Expediente').touched">Este campo es requerido</div>
                          </div>
                      </div>                      
                    </div>                  
                    <div class="row">
                      <div class="col-12 text-right">
                          <btn-loading   btnClass="btn-primary btn-rounded" loadingText="Guardando Datos" [loading]="loading"><global-font-awesome-v4 name="save"></global-font-awesome-v4> Guardar</btn-loading>&nbsp;&nbsp;&nbsp;&nbsp;
                      </div>  
                    </div>
                  </form>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>    
        <div class="col-12 text-right mt-2" >
          <button style="width:100px" class="btn btn-light btn-rounded" (click)="modal.close('Save click')"><global-font-awesome-v4 name="close"></global-font-awesome-v4> Salir</button>
        </div>  
      </div>
  </ng-template>
