tbody {
    display: block;
    overflow: auto;
    height: 50vh;
    width: 100%;
  }
  
  thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;

  }
  
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border:1px solid !important ;
    border-color: #eeeeee85 !important;

  }
  
  thead {
    width: calc(100% - 0em)
  }
  
  td {
    width: 70px;
    border:0px solid !important ;
  }

