<div class="card">
  <div class="card-header">
    <ul class="nav nav-justified">
      <li class="nav-item" *ngFor="let step of steps" [ngClass]="{'active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'completed': isCompleted}">
        <a (click)="goToStep(step)">{{step.title}}</a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <ng-content></ng-content>
  </div>
  <div class="card-footer" [hidden]="isCompleted">
      <button type="button" class="buttom btn-secundary float-left" (click)="previous()" [hidden]="!hasPrevStep || !activeStep.showPrev">Anterior</button>
      <button type="button" class="buttom btn-success float-right" (click)="next()" [disabled]="!activeStep.isValid" [ngClass]="{'pulse': activeStep.isValid, 'btn-dark': !activeStep.isValid }" [hidden]="!hasNextStep || !activeStep.showNext">Siguiente</button>
      <button type="button" class="buttom btn-success float-right" (click)="complete()" [disabled]="!activeStep.isValid" [hidden]="hasNextStep">Finalizar</button>
  </div>
</div>