.card { height: 100%; }
.card-header { background-color: #fff; padding: 0; font-size: 1.25rem; }
.card-block { overflow-y: auto; padding:20px auto }
.nav-item { padding: 1rem 0rem; border-bottom: 0.5rem solid #ccc; }
.active { font-weight: bold; color: black; border-bottom-color: #1976D2 !important;  animation: shadow-pulse 1s infinite;}
.enabled { cursor: pointer; border-bottom-color: rgb(88, 162, 234); }
.disabled { color: #ccc; }
.completed { cursor: default}

.buttom{
     position: relative;
     min-width: 95px;
     border: none;
     box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
     border-radius: 16px;
     cursor: pointer;
     padding:8px 12px;
}