<div class="main-header">
  <!--<div class="main-header" [ngStyle]="{background: 'url(./assets/images/bg.png)'}" >-->
  <a class="logo text-center" routerLink="/">
    <img src="./assets/images/logo-white.png" alt="" />
  </a>

  <div class="menu-toggle" (click)="toggelSidebar()">
    <img src="./assets/images/iconos/menu-top.svg" width="35" alt="" />
  </div>
  <div class="header-part-left d-flex align-items-center">
    <div
      ngbDropdown
      [placement]="'bottom-left'"
      class="d-sm-none d-lg-inline-block"
    >
      <h5 class="tmodulo-md">&nbsp;&nbsp; {{ nombreModulo }}</h5>
    </div>
  </div>
  <div style="margin: auto"></div>

  <div class="header-part-right">
    <div class="ml-auto">
      <button
        matTooltip="Buscar Persona PIDE"
        color="link"
        mat-raised-button
        (click)="modalBuscar(modalPersonasPide)"
        type="button"
      >
        <mat-icon>person_search</mat-icon>
      </button>
    </div>
    <!-- <div
      ngbDropdown
      [placement]="'bottom-right'"
      class="d-none d-sm-inline-block text-yellow"
    >
      <i ngbDropdownToggle class="i-Gear header-icon" role="button"></i>
      <div ngbDropdownMenu class="menu-icon-grid-dropdown">
        <div class="menu-icon-grid">
          <a routerLink="/tablas-maestras/oc"
            ><i class="i-Box-Full"></i> Nuevas O/C</a
          >
          <a routerLink="/tablas-maestras/siga"
            ><i class="i-Data-Download"></i> Sincronizar con SIGA</a
          >
          <a routerLink="/tablas-maestras/herramientas"
            ><i class="i-Check"></i> Herramientas</a
          >
        </div>
      </div>
    </div> -->

    <div
      ngbDropdown
      [placement]="'bottom-right'"
      class="d-none d-sm-inline-block mr-4"
      *ngIf="listaCartasFianzaAlerta.length > 0"
    >
      <div
        class="badge-top-container"
        style="background-color: white; border-radius: 10px"
      >
        <span class="badge badge-primary">{{ numAlert }}</span>
        <i
          ngbDropdownToggle
          style="width: 60px"
          role="button"
          alt=""
          class="i-Bell text-muted header-icon dropdown-toggle"
          (click)="limpiarAlerta(); listarCartasFianzaAlertas()"
        ></i>
      </div>
      <div
        ngbDropdownMenu
        class="notification-dropdown bg-white"
        style="overflow-x: auto"
      >
        <div class="bg-light p-2 text-danger border-light">
          Cartas de Fianza por vencer |
          <a href="/cartas-fianza/principal">Ir a cartas Fianza</a>
        </div>
        <div
          class="dropdown-item border-light"
          tabindex="0"
          *ngFor="let list of listaCartasFianzaAlerta"
          style="width: 550px"
        >
          <div class="col-md-12">
            <!-- <div  class="notification-icon" style="width: 50px;">
                            <i  class="i-Receipt-3 text-success mr-1"></i>
                        </div> -->
            <strong>N°:</strong>{{ list.cCartaFianzaNumero }}<br />
            <strong>Fecha.Vencimiento:</strong
            >{{ list.dCartaFianzaDetVencimiento }}<br />
            <strong>RUC:</strong>{{ list.cRuc_Persona }}-{{
              list.cNombre_Persona
            }}<br />
          </div>
        </div>
      </div>
    </div>
    <div
      ngbDropdown
      [placement]="'bottom-right'"
      class="user col align-self-end"
    >
      <div class="badge-top-container">
        <small class="d-none d-sm-inline-block"
          ><strong class="text-white">{{ nombres }}</strong></small
        >
        <img
          class="ml-2"
          ngbDropdownToggle
          src="./assets/images/iconos/user.svg"
          width="30"
          alt=""
        />
      </div>
      <div ngbDropdownMenu>
        <!-- <div class="menu-icon-grid"> -->
        <button
          class="d-md-none d-sm-inline-block dropdown-item"
          (click)="modalOpen(aniotrabajo)"
        >
          Cambiar Año
        </button>
        <button class="dropdown-item" (click)="signout()">
          <!-- <mat-icon>login</mat-icon> -->
          <!-- <img
                                class=""
                                src="./assets/images/iconos/out.svg"
                                style="width: 30px; margin-bottom: 5px;"
                                id="userDropdown"
                                alt=""
                              /> -->
          Salir
        </button>
        <!-- </div> -->
      </div>
    </div>
    <!--<div ngbDropdown [placement]="'bottom-right'" class="d-none d-sm-inline-block ml-4">
            <img ngbDropdownToggle src="./assets/images/iconos/menu.svg" style="width:20px" role="button" alt="">
            <div ngbDropdownMenu class="menu-icon-grid-dropdown">
                <div class="menu-icon-grid">
                    <a href="#"><i class="i-Shop-4"></i> Biblioteca</a>
                    <a href="#"><i class="i-Library"></i>Aula Virtual</a>
                    <a href="#"><i class="i-Drop"></i> Apps</a>
                    <a href="#"><i class="i-File-Clipboard-File--Text"></i> Forms</a>   
                    <a href="#"><i class="i-Checked-User"></i> Sessions</a>
                    <a href="#"><i class="i-Ambulance"></i> Support</a>
                </div>
            </div>
        </div>-->
    <!-- <div
      ngbDropdown
      [placement]="'bottom-right'"
      class="col align-self-end ml-4 mr-4 d-none d-sm-inline-block"
    >
      <a (click)="signout()" class="img-icon">
        <img
          class=""
          src="./assets/images/iconos/out.svg"
          style="width: 30px; margin-bottom: 5px;"
          id="userDropdown"
          alt=""
        />
      </a>
    </div> -->
  </div>
</div>
<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<!-- <div ngbDropdown [placement]="'bottom-right'" class="user col align-self-end">
        <img *ngIf="codigo != '' " src="http://172.16.1.200/dasa-urc/fotos_u//{{codigo}}.jpg" id="userDropdown" ngbDropdownToggle alt="">
        <img *ngIf="codigo == '' " src="./assets/images/faces/1.jpg" id="userDropdown" ngbDropdownToggle alt="">
    <div ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown">
        <div class="dropdown-header">
            <b>{{ nombres }}</b> 
        </div>
        <button class="dropdown-item" routerLink="/">Mi Perfil</button>
        <button class="dropdown-item" (click)="signout()">Salir</button>
    </div>
</div> -->
<ng-template let-modal #aniotrabajo>
  <div class="card">
    <div class="card-body">
      <div class="">
        <span class="tituloVariable">
          <strong> Año de Trabajo: &nbsp;&nbsp;&nbsp; </strong>
        </span>
        <select (change)="updateAnio()" [(ngModel)]="txtAnio">
          <option [value]="dato.iYearId" *ngFor="let dato of anios">
            {{ dato.iYearId }}
          </option>
        </select>
      </div>
    </div>
  </div>
</ng-template>
<ng-template let-modal let-c="close" let-d="dismiss" #modalPersonasPide>
  <div class="card text-center">
    <div class="card-header">
      CONSULTAS PIDE
      <button
        (click)="d('Cancelado')"
        type="button"
        class="close text-white"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body p-3">
      <form [formGroup]="formularioPide" (ngSubmit)="buscarPide()">
        <div class="col-12 d-flex">
          <div class="col-6">
            <mat-radio-group aria-label="ESCOJA UN TIPO" formControlName="tipo">
              <div class="row">
                <span>ESCOJA UNA FUENTE:</span>
              </div>
              <div class="row mt-3">
                <mat-radio-button class="col-6" color="primary" value="reniec"
                  >RENIEC</mat-radio-button
                >
                <mat-radio-button class="col-6" color="primary" value="sunat"
                  >SUNAT</mat-radio-button
                >
                <mat-radio-button class="col-6" color="primary" value="sunedu"
                  >SUNEDU</mat-radio-button
                >
                <mat-radio-button class="col-6" color="primary" value="osce"
                  >OSCE</mat-radio-button
                >
              </div>
            </mat-radio-group>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>DNI / RUC:</mat-label>
              <input type="text" matInput formControlName="documento" />
              <mat-error
                >El documento debe contener solo números y ser mayor a 8
                dígitos.</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="col-12">
          <button
            mat-raised-button
            color="primary"
            class="col-12"
            type="submit"
          >
            <mat-icon>policy</mat-icon>
            Consultar
          </button>
        </div>
      </form>
      <br />
      <div class="row" *ngIf="suneduBuscada === null">
        <div class="col-lg-5 col-sm-12">
          <img
            class="mx-auto w-50"
            [attr.src]="rutaFoto"
            alt=""
            *ngIf="rutaFoto !== ''"
          />
          <!-- SVG SUNAT -->
          <figure *ngIf="empresaBuscada !== null">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="450"
              height="100"
              viewBox="0 0 149 32"
            >
              <g>
                <g>
                  <g>
                    <path
                      fill="#ae0d41"
                      d="M20.432 20.14c.13-.73.273-1.456.391-2.187.284-1.761-.653-3.351-2.379-3.746-1.423-.326-2.896-.429-4.346-.64-1.318-.193-2.68-.246-3.939-.635-1.929-.597-3.363-1.8-3.59-4.005-.111-1.075.166-2.06.895-2.832 1.575-1.667 3.207-3.28 4.824-4.908.537-.54 1.38-.496 1.924.043 1.627 1.614 3.274 3.209 4.898 4.826 1.076 1.071 2.116 2.178 3.19 3.25 1.007 1.006 2.064 1.962 3.044 2.993.43.45 1.019.797 1.116 1.533.131.983-.607 1.412-1.161 1.95-1.114 1.082-2.253 2.138-3.385 3.202-.451.424-.91.84-1.365 1.26l-.117-.105z"
                    ></path>
                  </g>
                  <g>
                    <path
                      fill="#0163ac"
                      d="M6.07 10.565c-.113.588-.233 1.045-.28 1.51a16.83 16.83 0 0 0-.101 1.94c.025 1.582 1.362 2.491 2.629 2.836 1.737.472 3.52.546 5.307.601 1.55.048 3.004.46 4.306 1.314 1.278.838 1.988 2.084 2.063 3.567.047.92-.397 1.814-1.031 2.526-.735.824-1.513 1.61-2.289 2.396-.84.852-1.698 1.69-2.554 2.526-.339.331-1.327.374-1.671.042-.93-.9-1.84-1.823-2.755-2.74-.746-.746-1.488-1.496-2.232-2.244-1.109-1.115-2.212-2.235-3.326-3.344C3.087 20.45 2.024 19.422.973 18.38a8.123 8.123 0 0 1-.746-.819 1.14 1.14 0 0 1 .067-1.447c.466-.524.98-1.006 1.488-1.49 1.39-1.325 2.789-2.641 4.287-4.059z"
                    ></path>
                  </g>
                  <g>
                    <path
                      fill="#0163ac"
                      d="M64 15.398V9.7c-.002-.85.189-1.085 1.03-1.239.348-.063.696-.132 1.047-.168 1.51-.156 2.586.521 3.51 1.68.956 1.197 2.047 2.287 3.078 3.425.446.493.87 1.008 1.344 1.473.156.153.494.302.646.231.165-.077.292-.41.295-.633.025-1.564.01-3.129.014-4.693.002-.968.194-1.132 1.126-1.324a5.125 5.125 0 0 1 2.148.012c.833.175 1.085.416 1.084 1.263 0 2.421-.005 4.842-.006 7.263 0 1.34.004 2.681.004 4.022 0 .991-.287 1.397-1.279 1.462-.802.052-1.622-.052-2.424-.162-.278-.038-.579-.254-.777-.472-1.806-1.985-3.591-3.987-5.383-5.984-.037-.041-.066-.1-.112-.123-.22-.106-.535-.343-.646-.271-.184.119-.326.438-.33.676-.029 1.638-.016 3.277-.019 4.916-.001.956-.093 1.207-1.028 1.34-.837.119-1.716-.009-2.573-.08-.655-.056-.748-.561-.746-1.105.005-1.583.004-3.166.004-4.75V15.4z"
                    ></path>
                  </g>
                  <g>
                    <path
                      fill="#0163ac"
                      d="M37.307 22.775c-2.954-.09-5.18-.49-7.287-1.457-1.046-.48-1.187-1.366-.321-2.136a2.51 2.51 0 0 0 .196-.197c.805-.895 1.344-1.015 2.427-.482 1.533.755 3.15 1.129 4.855 1.057.454-.02.93-.114 1.343-.295.231-.102.493-.457.487-.69-.007-.265-.248-.682-.476-.755a29.571 29.571 0 0 0-3.274-.864c-1.443-.286-2.88-.567-4.187-1.276-2.414-1.31-2.3-4.369-.273-5.899 1.693-1.278 3.681-1.546 5.705-1.466 1.382.054 2.762.303 4.128.55.61.109 1.198.393 1.77.656.487.223.623 1.117.238 1.628a6.165 6.165 0 0 1-1.063 1.127c-.511.406-1.106.27-1.642.016a8.58 8.58 0 0 0-4.771-.783c-.49.057-.938.49-.928.903.013.505.355.77.797.873 1.355.317 2.717.6 4.073.91 1.344.305 2.626.722 3.784 1.538.832.586 1.302 2.365 1.003 3.397-.497 1.71-1.78 2.585-3.335 3.043-1.252.37-2.578.484-3.249.602z"
                    ></path>
                  </g>
                  <g>
                    <path
                      fill="#0163ac"
                      d="M56.777 13.07c0-1.156-.004-2.31.002-3.465.004-.746.235-.958.95-1.135.895-.221 1.766-.195 2.651.018.612.147.887.397.884 1.028-.013 2.681.095 5.374-.122 8.04-.184 2.262-1.602 3.89-3.882 4.608-1.398.439-2.858.714-4.341.55-1.627-.18-3.26-.415-4.611-1.45-1.346-1.03-2.049-2.473-2.11-4.128-.092-2.549-.045-5.103-.038-7.654 0-.52.276-.853.815-.983.924-.223 1.835-.245 2.761-.018.709.173.905.36.908 1.11.01 2.141-.03 4.284.018 6.425.015.65.126 1.36.418 1.928.776 1.507 3.01 1.626 4.198 1.006 1.077-.562 1.5-1.475 1.498-2.64-.002-1.08 0-2.16 0-3.24z"
                    ></path>
                  </g>
                  <g>
                    <path
                      fill="#0163ac"
                      d="M89.775 16.973c-.391 0-.784.025-1.172-.007-.408-.034-.567-.309-.41-.671.369-.85.76-1.691 1.173-2.521.191-.385.63-.379.821.012.408.833.796 1.677 1.158 2.53.168.395-.105.609-.454.652-.367.045-.744.01-1.116.01v-.005zm6.25 5.57c.334-.017.671-.011 1.003-.055 1.12-.15 1.49-.84.992-1.853-.881-1.797-1.771-3.59-2.659-5.384-.823-1.663-1.74-3.287-2.442-4.999-.528-1.284-1.2-2.035-2.69-2.104-1.706-.078-2.47.164-3.117 1.442-1.002 1.984-2.011 3.964-2.998 5.955-.883 1.779-1.738 3.57-2.608 5.355-.306.63-.113 1.175.564 1.422.918.334 1.865.299 2.794.052.286-.077.62-.242.778-.473.278-.406.463-.884.637-1.35.17-.458.428-.683.946-.675 1.582.024 3.166.04 4.747-.01.677-.02 1.107.196 1.354.81.07.172.161.337.212.514.27.946.942 1.316 1.872 1.327.205.002.41.017.614.026z"
                    ></path>
                  </g>
                  <g>
                    <path
                      fill="#0163ac"
                      d="M103.362 8.456c1.9 0 3.799-.002 5.699 0 1.129.001 1.415.284 1.437 1.422.005.26.004.523-.023.782-.07.666-.428.977-1.109.983-.968.008-1.936.017-2.904.018-.766.001-.97.19-.973.942-.006 2.719-.04 5.438 0 8.156.022 1.548-.352 1.524-1.543 1.704-.692.105-1.445-.04-2.145-.191-.544-.117-.758-.578-.755-1.155.015-2.812.011-5.625.007-8.437 0-.944-.074-1.012-1.022-1.015-.875-.003-1.75.004-2.625-.003-.813-.006-1.128-.24-1.23-1.045-.06-.47-.025-.967.058-1.436.102-.576.557-.73 1.094-.728 1.397.006 2.793.004 4.19.005h1.844z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
          </figure>
        </div>
        <div class="col-lg-7 col-sm-12">
          <table
            class="table table-bordered table-custom-pide"
            *ngIf="personaBuscada !== null || empresaBuscada !== null"
          >
            <thead class="thead-dark">
              <tr class="btn-primary">
                <th colspan="2">DATOS PERSONALES</th>
              </tr>
            </thead>
            <tbody class="">
              <ng-container *ngIf="personaBuscada !== null">
                <tr>
                  <th>DOCUMENTO:</th>
                  <th>
                    {{ this.personaBuscada.cReniecDni }}
                  </th>
                </tr>

                <tr>
                  <th>NOMBRES:</th>
                  <td>
                    {{ this.personaBuscada.cReniecNombres }}
                  </td>
                </tr>
                <tr>
                  <th>APE. PATERNO</th>
                  <td>
                    {{ this.personaBuscada.cReniecApel_pate }}
                  </td>
                </tr>
                <tr>
                  <th>APE. MATERNO</th>
                  <td>
                    {{ this.personaBuscada.cReniecApel_mate }}
                  </td>
                </tr>
                <tr>
                  <th>DIRECCIÓN</th>
                  <td>
                    {{ this.personaBuscada.cReniecDireccion }}
                  </td>
                </tr>
                <tr>
                  <th>ESTADO CIVIL:</th>
                  <td>
                    {{ this.personaBuscada.cReniecEsta_civi }}
                  </td>
                </tr>
                <tr>
                  <th>RESTRICCIONES:</th>
                  <td>
                    {{ this.personaBuscada.cReniecRestricciones }}
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="empresaBuscada !== null">
                <tr>
                  <th>NOMBRE:</th>
                  <td>
                    {{ this.empresaBuscada.nombre }}
                  </td>
                </tr>
                <tr>
                  <th>NOMBRE COMERCIAL</th>
                  <td>
                    {{ this.empresaBuscada.nombreComercial }}
                  </td>
                </tr>
                <tr>
                  <th>DIRECCIÓN</th>
                  <td>
                    {{ this.empresaBuscada.domicilioLegal }}
                  </td>
                </tr>
                <tr>
                  <th>RUC</th>
                  <td>{{ this.empresaBuscada.ruc }}</td>
                </tr>
                <tr>
                  <th>TIPO DE EMPRESA</th>
                  <td>{{ this.empresaBuscada.tipoEmpresa }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="suneduBuscada !== null">
        <div class="col-12">
          <table class="table-bordered table-custom-pide col-12">
            <thead class="thead-dark">
              <tr class="btn-primary">
                <th colspan="4">DATOS PERSONALES</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="suneduBuscada.registrado; else noRegistrado">
                <tr>
                  <th>NOMBRE COMPLETO</th>
                  <td colspan="3">
                    <span [innerHTML]="suneduBuscada.nombreCompleto"></span>
                  </td>
                </tr>
                <tr>
                  <th colspan="4">TITULOS</th>
                </tr>
                <ng-container *ngFor="let titulo of suneduBuscada.titulos">
                  <tr>
                    <th>TÍTULO PROFESIONAL</th>
                    <td colspan="3">
                      <span [innerHTML]="titulo.tituloProfesional"></span>
                    </td>
                  </tr>
                  <tr>
                    <th>UNIVERSIDAD</th>
                    <td colspan="3">
                      <span [innerHTML]="titulo.universidad"></span>
                    </td>
                  </tr>
                  <tr>
                    <th>FECHA EMISIÓN</th>
                    <td>
                      <span [innerHTML]="titulo.fechaEmision"></span>
                    </td>
                    <th>RESOLUCIÓN</th>
                    <td>
                      <span [innerHTML]="titulo.resolucion"></span>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
              <ng-template #noRegistrado>
                <tr>
                  <td colspan="4">NO ENCONTRADO</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="osceBuscada !== null">
        <div class="col-12">
          <ng-container
            *ngIf="
              osceBuscada.proveedorVigente.resultado === '1';
              else noRegistradoProveedor
            "
          >
            <table class="table-bordered table-custom-pide col-12 my-2">
              <thead class="thead-dark">
                <tr class="btn-primary">
                  <th colspan="4">DATOS COMO PROVEEDOR</th>
                </tr>
                <tr class="btn-primary">
                  <th>RAZÓN SOCIAL</th>
                  <th>CODIGO RNP</th>
                  <th>FECHA INICIO</th>
                  <th>EMAIL</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngIf="osceBuscada.proveedorVigente.registro as registro"
                >
                  <tr>
                    <td>
                      <span [innerHTML]="registro.nombreRazonSocial"></span>
                    </td>
                    <td><span [innerHTML]="registro.codigoRNP"></span></td>
                    <td>
                      <span [innerHTML]="registro.fechaInicioVigencia"></span>
                    </td>
                    <td><span [innerHTML]="registro.email"></span></td>
                  </tr>
                </ng-container>
                <ng-container
                  *ngIf="osceBuscada.proveedorVigente.registro[0] as registros"
                >
                  <tr *ngFor="let registro of osceBuscada.proveedorVigente.registro">
                    <td>
                      <span [innerHTML]="registro.nombreRazonSocial"></span>
                    </td>
                    <td><span [innerHTML]="registro.codigoRNP"></span></td>
                    <td>
                      <span [innerHTML]="registro.fechaInicioVigencia"></span>
                    </td>
                    <td><span [innerHTML]="registro.email"></span></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
          <ng-container
            *ngIf="
              osceBuscada.sancionVigente.resultado === '1';
              else noRegistradoSancion
            "
          >
            <table class="table-bordered table-custom-pide col-12 my-2">
              <thead class="thead-dark">
                <tr class="btn-primary">
                  <th colspan="5">DATOS COMO SANCIÓN</th>
                </tr>
                <tr class="btn-primary">
                  <th>RAZÓN SOCIAL</th>
                  <th>FECHA INICIO</th>
                  <th>FECHA FIN</th>
                  <th>PERIODO DE INHABILITACIÓN</th>
                  <th>RESOLUCIÓN</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngIf="osceBuscada.sancionVigente.sancion as registro"
                >
                  <tr>
                    <td>
                      <span [innerHTML]="registro.nombreRazonSocial"></span>
                    </td>
                    <td><span [innerHTML]="registro.fechaInicio"></span></td>
                    <td><span [innerHTML]="registro.fechaFin"></span></td>
                    <td>
                      <span [innerHTML]="registro.periodoInhabilitacion"></span>
                    </td>
                    <td><span [innerHTML]="registro.resolucion"></span></td>
                  </tr>
                </ng-container>
                <ng-container
                  *ngIf="osceBuscada.sancionVigente.sancion[0] as registro"
                >
                  <tr>
                    <td>
                      <span [innerHTML]="registro.nombreRazonSocial"></span>
                    </td>
                    <td><span [innerHTML]="registro.fechaInicio"></span></td>
                    <td><span [innerHTML]="registro.fechaFin"></span></td>
                    <td>
                      <span [innerHTML]="registro.periodoInhabilitacion"></span>
                    </td>
                    <td><span [innerHTML]="registro.resolucion"></span></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
          <ng-template #noRegistradoProveedor>
            <table class="table-bordered table-custom-pide col-12 my-2">
              <tbody>
                <tr>
                  <td>NO CUENTA CON INSCRIPCIÓN VIGENTE</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
          <ng-template #noRegistradoSancion>
            <table class="table-bordered table-custom-pide col-12 my-2">
              <tbody>
                <tr>
                  <td>NO CUENTA CON SANCIÓN VIGENTE</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>
