.form-control {
  background: #e3e3e4;
  border-radius: 12px;
}
.tmodulo {
  display: block;
  font-size: 1.2em;
  font-weight: 900;
  margin-top: -10px;
  color: #45325e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.tmodulo-md {
  display: block;
  font-size: 2em;
  font-weight: 900;
  margin-top: 5px;
  margin-right: 20px;
  color: #0b2239;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.img-icon {
  display: inline-block;
  padding: 5px 0px 7px 0px;
  cursor: pointer;
}
.table-custom {
  color: #0b2239;
  font-size: 9px;
  width: 100%;
}
.rowc {
  max-width: 420px;
  margin: 0px;
}
.marco {
  display: block;
  position: absolute;
  height: 64px;
  width: 58px !important;
  border: 3px solid white;
  border-radius: 4px;
}
.search-bar {
  max-width: 125px;
  text-align: center;
}
.table-custom-pide {
  tr {
    td,
    th {
      font-size: 18px;
      line-height: 24px;
    }
    th {
      background-color: #263db5;
      color: white;
    }
  }
}
