<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">ASESORÍA</li>
    <li class="breadcrumb-item active" aria-current="page">PERFIL</li>
  </ol>
</nav>
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card user-profile o-hidden mb-4">
      <div
        class="header-cover"
        style="background-image: url('assets/images/inicio.jpg'); height: 200px"
      ></div>
      <div class="user-info">
        <img
          class="profile-picture avatar-lg ml-2"
          src="assets/images/iconos/user.svg"
          alt=""
        />
        <p class="m-0 text-16">{{ info.cPersNombre }}</p>
        <p class="m-0 text-12">
          {{ info.cPersPaterno }} {{ info.cPersMaterno }}
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="col-12">
              <tr>
                <th class="text-right">DNI :</th>
                <td class="text-center">{{ info.cPersDocumento }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col-12">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/expedientes']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Inbox-Into"></i>
              <div class="content">
                <p class="text-muted mt-2 mb-0">Administración</p>
                <p class="lead text-primary text-24 mb-2">Expedientes</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/notificaciones/N']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Calendar-4"></i>
              <div class="content">
                <p class="text-muted mt-2 mb-0">Administración</p>
                <p class="lead text-primary text-24 mb-2">Citaciones</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-8 col-lg-8">
    <div class="row">
      <div class="card col-11 mx-auto">
        <div class="col-12 text-center my-2">
          <h5>TAREAS PENDIENTES</h5>
        </div>
        <div class="col-12">
          <button class="col-auto" color="primary" mat-raised-button (click)="mostrarMisCitaciones(misPendientes)"> ACTUALIZAR PENDIENTES </button>
        </div>
        <div class="table-responsive p-2">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr class="head-tablas">
                <th>DESCRIPCIÓN</th>
                <th>EXPEDIENTE</th>
                <th>FECHA LÍMITE</th>
                <th>OBSERVACIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pendiente of pendientes; index as i">
                <td class="text-center">
                  <span [innerHTML]="pendiente.descripcion || ''"></span>
                </td>
                <td
                  class="text-center"
                  [matTooltip]="pendiente.expediente_nombre"
                >
                  <span [innerHTML]="pendiente.expediente_numero || ''"></span>
                </td>
                <td class="text-center" *ngIf="pendiente.vencido === 1">
                  <span
                    [innerHTML]="
                      pendiente.fecha_limite | date: 'd/M/yyyy H:mm a' || ''
                    "
                  ></span>
                </td>
                <td
                  class="text-center"
                  *ngIf="pendiente.vencido === 2"
                  class="fondo-y"
                >
                  <span
                    [innerHTML]="
                      pendiente.fecha_limite | date: 'd/M/yyyy H:mm a' || ''
                    "
                  ></span>
                </td>
                <td
                  class="text-center"
                  *ngIf="pendiente.vencido === 3"
                  class="fondo-r"
                >
                  <span
                    [innerHTML]="
                      pendiente.fecha_limite | date: 'd/M/yyyy H:mm a' || ''
                    "
                  ></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="pendiente.descripcion"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="card col-11 mx-auto">
        <div class="col-12 text-center my-2">
          <h5>
            CITACIONES PENDIENTES (<span
              class="text-uppercase"
              [innerHTML]="mesactual"
            ></span
            >)
          </h5>
        </div>
        <div class="col-12">
          <button class="col-auto" color="primary" mat-raised-button (click)="mostrarMisCitaciones(misCitaciones)"> ACTUALIZAR PENDIENTES </button>
        </div>
        <div class="table-responsive p-2">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr class="head-tablas">
                <th>NÚMERO</th>
                <th>EXPEDIENTE</th>
                <th>FECHA CITACIÓN</th>
                <th>LUGAR DE CITACIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let citacion of citaciones; index as i">
                <td class="text-center">
                  <span [innerHTML]="citacion.citacion_numero || ''"></span>
                </td>
                <td
                  class="text-center"
                  [matTooltip]="citacion.expediente_nombre"
                >
                  <span [innerHTML]="citacion.expediente_numero || ''"></span>
                </td>
                <td class="text-center">
                  <span
                    [innerHTML]="
                      citacion.fecha_citacion | date: 'd/M/yyyy H:mm a' || ''
                    "
                  ></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="citacion.lugar_citacion || ''"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template let-modal #misCitaciones let-d="dismiss">
  <app-mis-notificaciones
    [citaciones]="citacionesConvertidas"
    (salida)="d();cargarPendiente()"
  ></app-mis-notificaciones>
</ng-template>
<ng-template let-modal #misPendientes let-d="dismiss">
  <app-mis-pendientes
  [citaciones]="pendientesConvertidos"
  (salida)="d();cargarPendiente()"
  >

  </app-mis-pendientes>
</ng-template>
