<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">TABLAS MAESTRAS</li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ titulo }}
    </li>
  </ol>
</nav>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-2 border border-white bg-light">
      <div class="row m-1">
        <div class="col-sd-12">
          <div class="form-group">
            <label>Acciones</label><br />
            <button
              class="btn btn-primary btn-rounded mt-1"
              ngbTooltip="Agregar"
              (click)="modalFormOpen(modalForm)"
            >
              <global-font-awesome-v4
                name="plus-circle"
              ></global-font-awesome-v4>
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-8 p-1">
          <div class="form-group">
            <label>Exportar a:</label>
            <select
              class="form-control form-control-sm"
              [(ngModel)]="typeReport"
            >
              <option value="PDF">PDF</option>
              <option value="EXCEL">EXCEL</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 p-1">
          <br />
          <button
            ngbTooltip="Generar reporte"
            class="btn btn-primary btn-rounded btn-sm mt-1"
            (click)="downloadReport()"
          >
            <global-font-awesome-v4 name="download"></global-font-awesome-v4>
            Descargar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">{{ titulo }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card o-hidden py-2">
  <div class="col-12">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="head-tablas">
          <th *ngFor="let titulo of encabezados">{{ titulo }}</th>
        </tr>
        <tr class="head-tablas">
          <th>
            <input
              type="text"
              (keyup)="filtrar()"
              class="form-control form-control-sm"
              placeholder="Filtro Id..."
              [(ngModel)]="campoFiltro.id"
            />
          </th>
          <th>
            <input
              type="text"
              (keyup)="filtrar()"
              class="form-control form-control-sm"
              placeholder="Filtro Nombre..."
              [(ngModel)]="campoFiltro.nombre_persona"
            />
          </th>
          <th>
            <input
              type="text"
              (keyup)="filtrar()"
              class="form-control form-control-sm"
              placeholder="Filtro Nombre..."
              [(ngModel)]="campoFiltro.nombre_tipo_persona"
            />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <ng-container *ngIf="listado as result">
          <tr
            *ngFor="
              let registro of result
                | paginate
                  : {
                      id: 'pagSalas',
                      itemsPerPage: iPageSize,
                      currentPage: p
                    }
            "
          >
            <td class="text-center">
              <span
                [innerHTML]="registro.id.toString() | resaltar: campoFiltro.id"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.nombre_persona | resaltar: campoFiltro.nombre_persona
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.nombre_tipo_persona
                    | resaltar: campoFiltro.nombre_tipo_persona
                "
              ></span>
            </td>
            <td class="text-right">
              <button
                class="btn btn-outline-success"
                ngbTooltip="Editar"
                (click)="editar(modalForm, [registro])"
              >
                <global-font-awesome-v4
                  name="pencil-square-o"
                ></global-font-awesome-v4>
              </button>
              <button
                class="btn btn-outline-danger"
                ngbTooltip="Eliminar"
                (click)="eliminar([registro])"
              >
                <global-font-awesome-v4 name="trash-o"></global-font-awesome-v4>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <br />
    <pagination-controls
      id="pagSalas"
      (pageChange)="p = $event"
      previousLabel="Atras"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</div>

<ng-template #modalForm let-modal>
  <div class="card text-center">
    <div class="card-header">
      {{ tituloForm }}
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="guardar()">
      <div class="card-body">
        <fieldset>
          <div class="row">
            <div class="col-12">
              <span>Los campos marcados con (*) son Obligatorios!</span>
              <input type="text" formControlName="id" hidden />
              <input type="text" formControlName="personaId" hidden />
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Persona:</mat-label>
                <input matInput formControlName="nombre" readonly required />
              </mat-form-field>
            </div>
            <div class="col-4">
              <button
                (click)="modalFormOpen(modalPersonas, 2)"
                mat-raised-button
                color="primary"
                type="button"
              >
                <global-font-awesome-v4
                  name="search-plus"
                ></global-font-awesome-v4>
                Buscar
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Tipo de Persona:</mat-label>
                <mat-select required formControlName="tipo">
                  <mat-option *ngFor="let tipo of listaTipos" [value]="tipo.id">
                    {{ tipo.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-md-4 offset-md-6">
            <button
              class="btn btn-outline-primary"
              mat-raised-button
              type="submit"
              [disabled]="!formulario.valid"
            >
              <global-font-awesome-v4 name="save"></global-font-awesome-v4>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #modalPersonas let-c="close" let-d="dismiss" let-modal>
  <div class="card text-center">
    <div class="card-header">
      Buscar Persona
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="formBuscarPersona" (ngSubmit)="buscarPersona()">
      <div class="row">
        <div class="col-10">
          <div class="form-group">
            <label>Buscar por:</label>
            <input
              type="text"
              [ngClass]="{
                'is-invalid': !formBuscarPersona.get('buscar').valid
              }"
              class="form-control"
              placeholder="Apellidos Nombres"
              formControlName="buscar"
            />
          </div>
        </div>
        <div class="col-2">
          <btn-loading
            [disabled]="formBuscarPersona.invalid"
            btnClass="btn-primary btn-rounded  btn-block mt-3"
            [loadingText]="msgBuscando"
            [loading]="loading"
          >
            <global-font-awesome-v4 name="search-plus"></global-font-awesome-v4>
            Buscar
          </btn-loading>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            <span class="text-bold">Registros encontrados:</span>
            {{ registrosPersonas }}
          </p>
        </div>
      </div>
    </form>
    <br />
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="btn-primary">
          <th>CÓDIGO</th>
          <th>PERSONA</th>
          <th></th>
        </tr>
        <tr class="btn-primary">
          <th>
            <input
              type="text"
              (keyup)="filtrarPersona()"
              class="form-control form-control-sm"
              placeholder="Filtro Id..."
              [(ngModel)]="campoFiltro.idPer"
            />
          </th>
          <th>
            <input
              type="text"
              (keyup)="filtrarPersona()"
              class="form-control form-control-sm"
              placeholder="Filtro Nombre..."
              [(ngModel)]="campoFiltro.nombrePer"
            />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <ng-container *ngIf="listadoPer as resultPersonas">
          <tr
            *ngFor="
              let registro1 of resultPersonas
                | paginate
                  : {
                      id: 'paginationPersona',
                      itemsPerPage: iPageSize,
                      currentPage: pE
                    }
            "
          >
            <td class="text-center">
              <span
                [innerHTML]="
                  registro1.id.toString() | resaltar: campoFiltro.idPer
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="registro1.nombre | resaltar: campoFiltro.nombrePer"
              ></span>
            </td>
            <td class="text-right">
              <button
                class="btn btn-outline-primary"
                ngbTooltip="Seleccionar"
                (click)="seleccionarPersona(registro1); c()"
              >
                <global-font-awesome-v4
                  name="check-circle"
                ></global-font-awesome-v4>
                Seleccionar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <br />
    <pagination-controls
      id="paginationPersona"
      (pageChange)="pE = $event"
      previousLabel="Atras"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</ng-template>
