<div class="card text-center">
  <div class="card-header">
    MIS CITACIONES
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="modal.dismissAll()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <div class="col-12">
      <div class="col-4">
        <mat-slide-toggle
          class="m-3"
          [formControl]="toggleSlide"
          color="primary"
          (change)="mostrarTodos($event)"
        >
          TODOS
        </mat-slide-toggle>
      </div>
    </div>
    <div class="col-12 table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="head-tablas">
            <th>NÚMERO</th>
            <th>EXPEDIENTE</th>
            <th>LUGAR</th>
            <th>SUMILLA</th>
            <th>FECHA DE AUDIENCIA</th>
            <th>RESULTADOS DE LAS CITACIONES</th>
            <th>GUARDAR</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="citacionesFiltradas as result">
            <tr
              *ngFor="
                let registro of result
                  | paginate
                    : {
                        id: 'pag',
                        itemsPerPage: iPageSize,
                        currentPage: p
                      }
              "
            >
              <td class="text-center">
                <span [innerHTML]="registro.title"></span>
              </td>
              <td class="text-center">
                <span [innerHTML]="registro.expediente_nombre || ''"></span>
              </td>
              <td class="text-center">
                <span [innerHTML]="registro.citacion_lugar || ''"></span>
              </td>
              <td class="text-center">
                <span [innerHTML]="registro.citacion_sumilla || ''"></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.start | date: 'd/M/yy, h:mm a'"
                ></span>
              </td>
              <td class="text-center">
                <textarea
                  [disabled]="registro.involucrado.idd !== iPersId"
                  class="form-control"
                  [(ngModel)]="registro.citacion_observacion"
                >
                </textarea>
              </td>
              <td>
                <button
                  mat-icon-button
                  color="primary"
                  type="button"
                  matTooltip="Guardar Resultados"
                  (click)="guardar(registro)"
                >
                  <mat-icon>save</mat-icon>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <br />
    <pagination-controls
      id="pag"
      (pageChange)="p = $event"
      previousLabel="Atras"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</div>
