<ngb-tabset type="pills" activeId="tab2" >
    <ngb-tab id="tab1">
        <ng-template ngbTabTitle>Depósito de Abono</ng-template>
        <ng-template ngbTabContent>1
            <app-registro-ca></app-registro-ca>
        </ng-template>
    </ngb-tab>    
    <ngb-tab id="tab2">
        <ng-template ngbTabTitle>Cuentas de Abono</ng-template>
        <ng-template ngbTabContent>
            <app-cuentas-ca></app-cuentas-ca>
        </ng-template>
    </ngb-tab>  
</ngb-tabset>