<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-icon-bg card-icon-bg-primary mb-4">
          <h1 class="text-center">REPORTES</h1>
        </div>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/expedientes']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-left">
              <i class="i-Inbox-Into"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Expedientes Registrados
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/expedientes']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-left">
              <i class="i-Magnifi-Glass1"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Seguimiento de Procesos Judiciales
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/notificaciones']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-left">
              <i class="i-Clock-Back"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Seguimiento de Citaciones
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/consultasexternas/tramite/1']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-left">
              <i class="i-Speach-Bubble-3"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Control de Opiniones Legales emitidas
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/consultasexternas/tramite']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-left">
              <i class="i-Inbox-Out"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">CAJA</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Seguimiento de trámites realizados
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!--
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary mb-4">
              <a href="#" class="list-group-item list-group-item-action">
                <div class="card-body text-left">
                  <i class="i-Inbox-Out"></i>
                  <div class="content">
                    <p class="text-muted mt-2 mb-0">MÓDULO</p>
                    <p class="lead text-primary text-24 mb-2">Presupuesto</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary mb-4">
              <a href="#" class="list-group-item list-group-item-action">
                <div class="card-body text-left">
                  <i class="i-Car-2"></i>
                  <div class="content">
                    <p class="text-muted mt-2 mb-0">MÓDULO</p>
                    <p class="lead text-primary text-24 mb-2">Patrimonio</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary mb-4">
              <a
                [routerLink]="['/notificaciones']"
                class="list-group-item list-group-item-action"
              >
                <div class="card-body text-left">
                  <i class="i-Calendar-4"></i>
                  <div class="content">
                    <p class="text-muted mt-2 mb-0">MÓDULO</p>
                    <p class="lead text-primary text-24 mb-2">Biblioteca</p>
                  </div>
                </div>
              </a>
            </div>
          </div> -->
      <!--
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary mb-4">
              <a href="#" class="list-group-item list-group-item-action">
                <div class="card-body text-left">
                  <i class="i-Bar-Chart"></i>
                  <div class="content">
                    <p class="text-muted mt-2 mb-0">Generación</p>
                    <p class="lead text-primary text-24 mb-2">Reportes</p>
                  </div>
                </div>
              </a>
            </div>
          </div> -->
    </div>
  </div>
</div>
